<footer class="container-fluid m-0 ">
  <div class="footer py-20">
    <div class="container">
      <div class="row gy-10 justify-content-around">
        <div class="col-md-2">
          <div>
            <img width="52" height="32" src="./assets/imgs/qyd/logoWhtite.svg" alt="qyd logo">
            <p class="my-3">{{'footer.aboutQyd'|translate}}</p>
            <!-- <p>{{'footer.ryad'|translate}}</p> -->
            <!-- <p class="my-3"><span>{{'footer.contactEmail'|translate}}</span> <a 
                href="mailto:info@qyd.sa">info@qyd.sa</a></p>
            <p class="my-3"><span>{{'footer.contactNumber'|translate}}</span> 966552202366+ </p> -->
          </div>
        </div>
        <div class="col-md-2">
          <h3 class="bolder">{{'footer.QuickLinks'|translate}}</h3>
          <p><a routerLink="/visitor/privacy-policy">{{'footer.privacy'|translate}}</a>
          </p>

          <p><a routerLink="/visitor/cancel-policy">{{'footer.privacy2'|translate}}</a>
          </p>
          <p><a routerLink="/visitor/terms-policy">{{'footer.terms'|translate}}</a>
          </p>
          <!-- <p><a routerLink="/visitor/privacy-policy/slp">{{'footer.slp'|translate}}</a>
          </p> -->
        </div>
        <div class="col-md-3">
          <h3>{{'footer.StayConnected'|translate}}</h3>
          <p>{{'footer.address'|translate}}</p>
        </div>
        <div class="col-md-3 ">
          <h3>{{'footer.contact'|translate}}</h3>

          <p><svg class="mx-3" xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12"
              fill="none">
              <g clip-path="url(#clip0_1074_7072)">
                <path
                  d="M4.19785 0.577091C4.01738 0.141153 3.5416 -0.0908778 3.08691 0.033341L1.02441 0.595841C0.616602 0.708341 0.333008 1.07865 0.333008 1.50053C0.333008 7.29897 5.03457 12.0005 10.833 12.0005C11.2549 12.0005 11.6252 11.7169 11.7377 11.3091L12.3002 9.24662C12.4244 8.79193 12.1924 8.31615 11.7564 8.13568L9.50644 7.19818C9.12441 7.03881 8.68145 7.14897 8.42129 7.47006L7.47441 8.62553C5.82441 7.84506 4.48848 6.50912 3.70801 4.85912L4.86348 3.91459C5.18457 3.65209 5.29473 3.21147 5.13535 2.82943L4.19785 0.579435V0.577091Z"
                  fill="white" />
              </g>
              <defs>
                <clipPath id="clip0_1074_7072">
                  <rect width="12" height="12" fill="white" transform="translate(0.333008)" />
                </clipPath>
              </defs>
            </svg> {{'footer.contactNumber'|translate}} 966552202366+</p>
          <p><svg class="mx-3" xmlns="http://www.w3.org/2000/svg" width="13" height="12" viewBox="0 0 13 12"
              fill="none">
              <g clip-path="url(#clip0_1074_7076)">
                <path
                  d="M1.45801 1.5C0.836914 1.5 0.333008 2.00391 0.333008 2.625C0.333008 2.97891 0.499414 3.31172 0.783008 3.525L5.88301 7.35C6.1502 7.54922 6.51582 7.54922 6.78301 7.35L11.883 3.525C12.1666 3.31172 12.333 2.97891 12.333 2.625C12.333 2.00391 11.8291 1.5 11.208 1.5H1.45801ZM0.333008 4.125V9C0.333008 9.82734 1.00566 10.5 1.83301 10.5H10.833C11.6604 10.5 12.333 9.82734 12.333 9V4.125L7.23301 7.95C6.69863 8.35078 5.96738 8.35078 5.43301 7.95L0.333008 4.125Z"
                  fill="white" />
              </g>
              <defs>
                <clipPath id="clip0_1074_7076">
                  <rect width="12" height="12" fill="white" transform="translate(0.333008)" />
                </clipPath>
              </defs>
            </svg>{{'footer.contactEmail'|translate}} <a href="mailto:info@qyd.sa ">info@qyd.sa </a></p>

          <div class="d-flex">
            <a class="social" aria-label="qyd twitter" href="https://x.com/Qyd_sa" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="17" height="14" viewBox="0 0 17 14" fill="none">
                <path
                  d="M12.865 0H15.2398L10.0513 5.93035L16.1554 14H11.3758L7.63255 9.10568L3.34929 14H0.972797L6.52244 7.65694L0.666992 0H5.56758L8.9513 4.47348L12.865 0ZM12.0314 12.5784H13.3474L4.85257 1.34697H3.44047L12.0314 12.5784Z"
                  fill="white" />
              </svg>
            </a>
            <a class="social" aria-label="qyd linkedin" href="https://www.linkedin.com/company/qyd-sa/"
              target="_blank"><i class="fa-brands fa-linkedin-in fs-1x text-white"></i></a>
          </div>
        </div>
        <div class="col-md-12 border-top text-center">

          <p class="pt-5">{{ "footer.copyright" | translate }}</p>
        </div>
      </div>
    </div>
  </div>

</footer>