<div class="container" dir="rtl">


    <h1>الشروط والأحكام لشركة قيد لتقنية المعلومات</h1>
    <div class="row g-3">
        <div class="col-md-9">
            <div class="bootstrap p-10 rounded-4">
                <h2>التمهيد</h2>
                <p> تسري شروط وأحكام الاستخدام الخاصة بمنصة قيد، والتي تقدم خدماتها عبر شركة قيد لتقنية المعلومات
                    المقيدة
                    بالسجل
                    تجاري رقم (7036926389) لدى وزارة التجارة وتاريخ 24/03/1445ه، ويشار لها في هذه الاتفاقية بـ"الشركة".
                    تحدد
                    هذه
                    الشروط كيفية وصول واستخدام المستفيدين للمنصة والخدمات المقدمة. يرجى قراءة الشروط والأحكام بعناية قبل
                    الدخول على
                    المنصة أو الحصول على الخدمات. باستخدامك لهذه المنصة فإنك توافق على الالتزام بهذه الشروط والأحكام مما
                    يخلق علاقة
                    تعاقدية بينك وبين الشركة، في حال عدم موافقتك على هذه الشروط والاحكام فالرجاء التوقف عن استخدام منصة
                    قيد
                    فوراً،
                    واستمرارك باستخدامه موافقة صريحة.
                </p>

                <h2> البند الأول:</h2>
                <p> يعتبر التمهيد أعلاه جزءًا لا يتجزأ من هذه الشروط والأحكام ومكملةً ومفسرةً لها. </p>
                <h2>البند الثاني: التعريفات </h2>
                <p>يقصد بالكلمات والعبارات الآتية حيثما وردت في هذه الاتفاقية كما هو موضح في هذا البند ما لم يقتض سياق
                    النص
                    خلاف
                    ذلك:</p>
                <p>
                    .المنصة:يقصد بها تطبيق أو موقع قيد المملوك لشركة قيد لتقنية المعلومات والتي تقدم خدمات متضمنة باقات
                    الاشتراك
                    الشهرية و السنوية</p>
                <p>مزود الخدمة: يقصد به الشركة أو الكيان المسؤول عن تقديم الخدمات عبر المنصة، والذي يدير ويدعم منصة قيد
                    والخدمات
                    المقدمة من خلالها. كما يشمل مصطلح "مزود الخدمة" الأطراف الأخرى التي تتعاون مع الشركة لتقديم خدمات أو
                    دعم
                    إضافي.
                </p>
                <p>العميل: يقصد به الشخص الطبيعي أو الاعتباري الذي يقوم بالدخول أو التسجيل أو استخدام الخدمات المقدمة من
                    قبل
                    مزود
                    الخدمة في المنصة.</p>
                <p>الاستخدام: الدخول إلى المنصة أو الاستفادة من أي خدمة أو ميزة تقدمها المنصة. </p>
                <p>البيانات الشخصية: بقصد بها أي معلومات تتعلق بالشخص الطبيعي أو الاعتباري والتي يتم جمعها أو معالجتها
                    أو
                    استخدامها
                    عبر المنصة لغرض تقديم الخدمات. </p>
                <p>المحتوى: يشمل مصطلح "المحتوى" جميع النصوص، الصور، الرسوم البيانية، الفيديوهات، الملفات الصوتية،
                    والمعلومات الأخرى
                    التي ينشرها أو يشاركها العميل عبر المنصة أو يتفاعل معها. </p>
                <p>الملكية الفكرية: ما يترتب عليها من علامات التجارية وأسماء التجارية وحقوق الشهرة التجارية والأسرار
                    التجارية
                    والمعلومات السرية وأي شكل آخر من أشكال الحقوق الفكرية، بما في ذلك الحقوق المتصلة بالمنصة أو الشركة
                    وسائر
                    ما
                    يتفرع عنها أو يتصل لها من برمجيات وتطبيقات. </p>
                <p>القوة القاهرة: أي أعمال أو أحداث أو امتناعات أو حوادث خارجة عن سيطرة المنصة المعقولة وتتضمن فشل، أو
                    عطل
                    الخدمات،
                    أو المنفعة، أو حرب، أو أحداث شغب، أو إضرار متعمد، أو عدم امتثال لأي نظام، أو أمر، أو تنظيم، أو
                    توجيه، أو
                    أي
                    كوارث طبيعية بما في ذلك الحرائق والفيضانات والعواصف والزلازل، أو توقف في النظام أو خدمة الإنترنت أو
                    نحوه.</p>
                <p>الظروف الطارئة: حوادث استثنائية عامة خارجة عن إرادة الأطراف، لا يمكن توقعها وتطرأ عند التنفيذ فتجعل
                    التنفيذ
                    مرهقاً لا مستحيلاً، وتهدد بخسارة فادحة لأحد الأطراف أو كلاهما.</p>
                <h2>البند الثالث: الموافقة على الشروط والأحكام</h2>
                <p>الدخول أو استخدام هذه المنصة يفيد بالموافقة على هذه الشروط والأحكام المتبعة لدينا والضوابط والشروط
                    التي
                    تحكم
                    استخدام هذه المنصة؛ فإذا لم تكن موافقاً على هذه الأحكام والسياسات، يتوجب عليك عدم استخدام المنصة،
                    وإنك
                    تقر بأن
                    استمرار في استخدام المنصة بعد إعلان التغييرات التي تطرأ على هذه الأحكام أو على سياسية الخصوصية في
                    المنصة
                    سيعتبر
                    بمثابة موافقة منك على هذه التغييرات. </p>
                <h2>البند الرابع: التعديلات على الشروط والأحكام</h2>
                <p>1. تحتفظ منصة قيد بالحق في تغيير أو تحديث الشروط والأحكام في أي وقت وهي مسؤولة عن إشعار العميل عن أي
                    تعديل أو
                    تغيير يُجرى على هذه الشروط والأحكام فور حدوث ذلك.</p>
                <p>2. أي تعديل أو تغيير تطرأ على هذه الشروط والأحكام يصبح نافذًا فور اعتماده من الشركة، والاستمرار في
                    استخدام المنصة
                    بعد اعتماد أي تعديل أو تغيير يعني قبول العميل وإقراره التام بذلك التعديل أو التغيير. </p>
                <p>3. تسعى منصة قيد إلى تحديث الشروط والأحكام لضمان توافقها مع الأنظمة والقوانين واللوائح المعمول بها في
                    المملكة
                    العربية السعودية، وتعزيز الشفافية، وتحسين الأمان، وتلبية احتياجات العملاء. وتهدف هذه التعديلات إلى
                    تقديم
                    تجربة
                    أفضل للعملاء من خلال الاستجابة لملفات الارتباط (على سبيل المثال( وتطوير الخدمات بما يتماشى مع
                    التطورات
                    التقنية.“
                </p>
                <h2>البند الخامس: التسجيل واستخدام منصة قيد </h2>
                <h3>1. التسجيل</h3>
                <p>- عند التسجيل في منصة "قيد"، يتعين على العميل تقديم معلومات أو بيانات دقيقة وكاملة وصحيحة تتعلق
                    بهويته،
                    وتشمل هذه
                    المعلومات على سبيل المثال لا الحصر: الاسم الكامل، البريد الإلكتروني، رقم الجوال. </p>
                <p>- يلتزم العميل بتحديث البيانات أو المعلومات المقدمة لدى المنصة بانتظام لضمان بقائها دقيقة وصحيحة. أي
                    تغييرات في
                    هذه البيانات أو المعلومات يجب أن يتم تحديثها على الفور في المنصة. </p>
                <p>- تحتفظ الشركة بالحق في التحقق من هوية العميل لضمان صحة البيانات أو المعلومات المقدمة، وقد يطلب من
                    العميل
                    إرفاق
                    وثائق رسمية لضمان الامتثال للمتطلبات النظامية، ومنها على سبيل المثال لا الحصر: سجل المنشأة التجاري
                    أو
                    رخصة
                    مزاولة المهنة أو أي وثائق أخرى غيرها، أو يتم التحقق من خلال الربط مع نظام "نفاذ" للتحقق من الهوية.
                </p>
                <p>- قد تطلب الشركة من العميل تقديم بيانات أو معلومات إضافية في حال تطلب الأمر، وذلك لضمان الامتثال
                    للأنظمة
                    واللوائح
                    المعمول بها أو للتحقق من صحة البيانات أو المعلومات. </p>
                <h3>2. استخدام المنصة:</h3>
                <p>- يلتزم العميل باستخدام منصة "قيد" وفقًا للأنظمة واللوائح المعمول بها في المملكة العربية السعودية.
                </p>
                <p>- يحظر استخدام المنصة لأي أغراض غير نظامية أو غير مشروعة أو غير مصرح بها، ويشمل ذلك على سبيل المثال
                    لا
                    الحصر:
                    الأنشطة التي تنتهك حقوق الملكية الفكرية، أو الاستخدام لأغراض الاحتيال، أو التزوير، أو أي نشاط غير
                    مشروع.
                </p>
                <p>- تحتفظ الشركة بالحق في اتخاذ الإجراءات النظامية المناسبة، بما في ذلك: </p>
                <p>أ‌. تعليق أو إيقاف الوصول إلى الحسابات التي قد يشتبه في استخدامها بشكل غير نظامي أو غير مشروع. </p>
                <p>ب‌. الغاء الحسابات التي تنتهك هذه الشروط والأحكام أو الأنظمة واللوائح ذات العلاقة.</p>
                <p>ت‌. اتخاذ إجراءات نظامية في حال وجود أي انتهاك أو ضرر، وذلك لحماية مصالح الشركة وضمان الامتثال
                    القانوني.
                </p>
                <h2>البند السادس: التزامات وحقوق المستفيد</h2>
                <p>1. التزم العميل عند استخدام المنصة بتسجيل الاسم بشكل كامل وصحيح كما يظهر في الأوراق الرسمية، والعنوان
                    الوطني،
                    ورقم الجوال، والبريد الإلكتروني الصحيح، وأي معلومات أخرى يتطلبها نموذج التسجيل، كما يتحمل أي تبعات
                    حيال
                    قيامه
                    بتسجيل معلومات ناقصة أو غير صحيحة ومن ذلك على سبيل المثال أي معلومات وهمية أو احتيالية.</p>
                <p>2. التزم العميل باتخاذ كافة التدابير اللازمة لضمان عدم تسريب بياناته الشخصية ومعلومات حسابه لدى
                    المنصة أو
                    استخدامها أو مشاركتها بطرق غير مصرح بها من قبله.</p>
                <p>3. التزم العميل بالامتثال لكافة القوانين واللوائح المعمول بها داخل المملكة العربية السعودية. </p>
                <p>1. التزم العميل عند طلب خدمات المنصة لحسابه الخاص أو لأشخاص آخرين وأن يكون مخولًا لطلب الخدمات لهم مع
                    تبليغهم
                    بهذه الشروط والأحكام.</p>
                <p>2. التزم العميل بإتمام عملية الدفع الكاملة وفي الوقت المناسب لجميع المبالغ المستحقة عليه مقابل
                    الخدمات
                    المدفوعة.
                </p>
                <p>4. يحق للعميل إلغاء الاشتراك في أي وقت خلال فترة الاشتراك وفقًا لإجراءات سياسة الإلغاء للمنصة.</p>
                <p>5. يحق للعميل في حال إلغاء الاشتراك وقبل انتهاء فترة الاشتراك فقط، استرداد مبلغ الاشتراك عن الفترة
                    المتبقية له من
                    الاشتراك، ويشمل ذلك الاشتراك الشهري والسنوي. </p>
                <p>6. يقر العميل ويوافق على أن وسيلته الحصرية والوحيدة المتاحة له لمعالجة أي ضرر أو خسارة قد تحدث نتيجة
                    دخوله أو
                    استخدامه لهذه المنصة هي الامتناع عن الاستمرار في استخدامها أو الدخول إليها وعدم الاستمرار في ذلك.
                </p>
                <p>7. يحظر على العميل نشر أو مشاركة أي محتوى يتعارض مع القوانين أو ينتهك حقوق الملكية الفكرية أو حقوق
                    الطبع
                    والنشر
                    أو العلامات التجارية، أو يشجع على الكراهية، التمييز، أو العنف، أو يحتوي على مواد مسيئة أو غير لائقة.
                </p>
                <p>8. يتعين على العميل الالتزام بعدم التعدي على حقوق الملكية الفكرية للآخرين عند نشر المحتوى، بما في ذلك
                    احترام حقوق
                    الطبع والنشر، والعلامات التجارية، وبراءات الاختراع.</p>
                <p>9. يقر العميل بالامتناع عما يلي: </p>
                <ul>
                    <li>• أي ممارسات من شأنها أن تأثر على تشغيل أو أمن خدمات ومحتويات المنصة.</li>
                    <li>• تحميل أي ملفات أو مواد تحمل فيروسات، أو روابط وهمية، أو رموز ذات طبيعة مدمره، أو معده
                        للاعتراض، أو
                        الاختراق، أو التدمير، أو الحد من عمل المنصة. </li>
                    <li>• نشر، أو إعلان، أو تحميل مواد تشهيرية، أو هجومية، أو انتهاكيه، أو مضرة، أو تهديدية، أو مسيئة،
                        أو
                        ملتوية، أو
                        عنصرية، أو غير ملائمة أخلاقيًا وغيرها من المواد والمعلومات التي تخالف الشريعة الإسلامية والنظام
                        العام في
                        المملكة. </li>
                    <li>• نشر أو تحميل أو إرفاق أي مواد محمية من قبل أنظمة وقوانين الملكية الفكرية أو أي حقوق خاصة أو
                        عامة
                        ما لم
                        يملك المضيف الحقوق أو يكون مفوضًا ومسموحًا له باستخدامها الخاص كما هو متطلب من النظام. </li>
                    <li>• القيام بأي فعل أو قول من شأنه الاعتداء على عميلي وزوار المنصة وذلك يشمل أي إزعاج، أو إساءة، أو
                        اعتداء، أو
                        تهديد. </li>
                    <li>• القيام بأي إجراء قانوني أو غير قانوني من شأنه أن يرتب مسؤولية على منصة قيد. </li>

                </ul>
                <h2>البند السابع: التزامات وحقوق منصة قيد</h2>
                <p>1. تقديم الخدمات والخصائص والمحتوى الذي يساعد العميل في طلب ما يحتاجه من إدارة وتنظيم للأعمال
                    والملفات
                    الخاص به.
                </p>
                <p>2. تقديم المساعدة للعميل من خلال التواصل عبر المنصة أو البريد الإلكتروني المشار إليه في المنصة. </p>
                <p>3. التعامل مع المستفيدين دون أي تمييز عنصري على أساس -على سبيل المثال لا الحصر- العرق، أو اللون، أو
                    القبيلة، أو
                    الدين، أو المذهب، أو الفكر، أو السن، أو أي من الفئات الأخرى.</p>
                <p>4. تحصيل المدفوعات المستحقة من المبالغ أو الرسوم من المستفيدين وفقاً لسياسة الاشتراك والدفع.</p>
                <p>5. إخطار العميل بأي مستجدات تتعلق بطريقة الاستخدام وذلك عن طريق البريد الإلكتروني أو المنصة أو
                    الرسائل
                    النصية.
                </p>
                <p>6. تطبيق سياسة الإلغاء واعتمادها بناءً على ما يختاره العميل وتدخل حيز النفاذ من تاريخ الاعتماد. </p>
                <p>7. تطبيق والامتثال بالمعايير الأخلاقية والقانونية وعدم الإضرار بأي عميل أو الامتناع عن تقديم أي خدمات
                    بهدف تحقيق
                    مكاسب أو أرباح لمصلحة أي عميل آخر.</p>
                <p>8. تقديم الصيانة الدورية الاعتيادية للمنصة وتطوير ما تراه مناسبًا، ولا تلتزم بإضافة برمجيات خاصة بشكل
                    محدد لأحد
                    المستفيدين بناءً على رغبته الفردية. </p>
                <p>9. تحتفظ منصة قيد بالحق في تغيير أو تحديث الشروط والأحكام أو سياسة الخصوصية في أي وقت على أن تقوم
                    بإعلام
                    العميل
                    بها على الفور في حال حدوث ذلك.</p>
                <p>10. يحق للمنصة استخدام كافة المعلومات أو البيانات الشخصية المسجلة على المنصة من قبل العميل أو
                    البيانات
                    الناتجة عن
                    استخدامه للتطبيق دون إشارة أو ربط بهوية المستفيد، وذلك لأغراض تشغيل أو تطوير المنصة أو لأي غرض آخر
                    تنص
                    عليه هذه
                    الاتفاقية.</p>
                <p>11. يحق للمنصة تعديل أو إنهاء أي خدمة أو أي جزء من الخدمة لأي من الأسباب مع إشعار العميل بذلك. </p>
                <p>12. يحق للمنصة إلغاء حساب العميل في حال ارتكابه أحد حالات الامتناع الواردة في الفقرة (6) من البند
                    الخامس.
                </p>
                <p>13. تحتفظ الشركة بالحق في مراجعة المحتوى المقدم من قبل المستفيد، وإزالة أي محتوى قد يخالف هذه الشروط
                    والأحكام دون
                    إشعار مسبق للمستفيد.</p>
                <p>14. يحق للمنصة طلب الوثائق والأوراق الثبوتية أو أي مستندات أو معلومات إضافية للتحقق من هوية المستفيد.
                </p>
                <h2>البند الثامن: سياسة الاشتراك والدفع</h2>
                <p>1. قد تتطلب بعض الخدمات والميزات المميزة المتاحة عبر المنصة دفع رسوم الاشتراك الخاصة بها، وسيتم إشعار
                    العميل
                    مسبقًا بأي رسوم إضافية تتعلق بالخدمات أو الميزات قبل إتمام عملية الشراء.</p>
                <p>2. يكون الدفع من خلال أي من الطرق المعتمدة لدى منصة قيد والمبينة في صفحة السداد.</p>
                <p>3. لا يحق للعميل استرجاع المبالغ المالية المدفوعة بعد إتمام الطلب وعملية السداد.</p>
                <p>4. استثناءً من الفقرة أعلاه، يحق للعميل المطالبة في استرجاع المبالغ المالية المدفوعة في أي من الحالات
                    الآتية:</p>
                <p>- حدوث خلل دائم ومستمر في المنصة يحول دون انتفاع المستفيدين من الخدمات.</p>
                <p>- انطباق أحد حالات القوة القاهرة أو الظروف الطارئة تحول دون الانتفاع من المنصة.</p>
                <p>- في أي من الحالات المنصوص عليها في سياسة الإلغاء.</p>
                <h2>البند التاسع: سياسة الإلغاء (تحدد سياسة الإلغاء كيفية احتساب المبالغ المستردة وإجراءات طلب
                    الاسترداد)
                </h2>
                <p>1. يحق للعميل إلغاء اشتراكه في المنصة في أي وقت من خلال واجهة المنصة أو وفقًا للإجراءات التي تحددها
                    المنصة.</p>
                <p>2. يشترط على العميل اتباع الخطوات المحددة لإلغاء الاشتراك.</p>
                <p>3. تخضع عملية استرداد الرسوم لسياسة الإلغاء الخاصة بالمنصة، وتتضمن هذه السياسات تحديد كيفية ذلك.</p>
                <h2>البند العاشر: حقوق الملكية الفكرية</h2>
                <p>1. يعد جميع ما في منصة قيد والمواد المتعلقة به والتي تشمل على سبيل المثال لا الحصر: المحتوى، التصميم،
                    الرسوم
                    البيانية، التجميع، التحويل الرقمي، وغير ذلك، ملك لشركة قيد لتقنية المعلومات. تخضع جميع هذه الحقوق
                    للحماية
                    المقامة لها بموجب أنظمة ولوائح حقوق الملكية والأسماء العلامات التجارية، وحقوق الملكية الفكرية وغير
                    ذلك
                    من
                    القوانين ذات العلاقة. ويمنع منعًا مطلقًا استخدام، نسخ، إعادة توزيع، أو طبع أي من هذه المواد أو أي
                    جزء
                    منها من
                    المنصة إلا في الحدود التي تسمح بها الأنظمة واللوائح السارية في المملكة العربية السعودية. </p>
                <p>2. قيام العميل بنشر أو مشاركة أي محتوى عبر المنصة، بما في ذلك المستندات والملفات والبيانات الأخرى،
                    فإنه
                    يمنح
                    الشركة حقًا/ترخيصًا غير حصري، أو عالمي، أو مجاني، وقابل للتحويل لاستخدام هذا المحتوى فقط ضمن إطار
                    عمل
                    المنصة
                    وتقديم خدماتها، ويشمل هذا الحق/الترخيص حصريًا لأغراض تقديم وتحسين خدمات المنصة ومنها على سبيل المثال
                    لا
                    الحصر:
                    الأرشفة والتخزين والتحليل، دون المساس بسرية المعلومات وخصوصية المعلومات وحقوق الملكية الفكرية
                    للمستفيد.
                </p>
                <p>3. تقوم منصة قيد وشركة قيد لتقنية المعلومات المالكة لها بالحفاظ على حقوق الملكية الفكرية للعميل وعدم
                    استخدام أي
                    مستندات أو ملفات أو أي بيانات أخرى لأغراض تتجاوز نطاق تقديم وتحسين المنصة وخدماتها. </p>
                <h2>البند الحادي عشر: إخلاء المسؤولية</h2>
                <p>إن منصة قيد والشركة المالكة لها لا تضمن ولا تقع على عاتقها أي مسؤولية في الحالات التالية:</p>
                <p>1. لن تكون على المنصة أو شركة قيد لتقنية المعلومات المالكة لها، أي مسؤولية عن أي خلاف أو نزاع ينشأ
                    بين
                    العميل وأي
                    طرف ثالث أيا كان السبب ولن تتحمل المنصة أي أثر قانوني لهذا الخلاف. </p>
                <p>2. لن تكون على المنصة أو شركة قيد لتقنية المعلومات المالكة لها، أي مسؤولية عن اختيار العميل للخدمة
                    المناسبة وفقًا
                    لاحتياجاته، ويتحمل العميل وحده المسؤولية عن تحديد واختيار الخدمة التي تتناسب مع متطلباته واحتياجاته
                    الخاصة. </p>
                <p>3. لن تكون على المنصة أو شركة قيد لتقنية المعلومات المالكة لها، أي مسؤولية عن أي عدم توافق قد يحدث
                    بين
                    المنصة
                    والخدمات مع أنظمة التشغيل أو الأجهزة أو المتصفحات التي يستخدمها المستفيد، ويتعين على العميل التحقق
                    من
                    توافق
                    متطلبات النظام قبل استخدام المنصة.</p>
                <p>4. لن تكون على المنصة أو شركة قيد لتقنية المعلومات المالكة لها، أي مسؤولية في حال قيام العميل بمشاركة
                    بياناته
                    الشخصية أو معلومات حسابه في المنصة لأي أطراف خارجية بخلاف بمزودي خدمة المنصة، يكون العميل وحده
                    المسؤول
                    عن أي
                    تبعيات أو أضرار نتيجة ذلك. </p>
                <p>5. لن تكون على المنصة أو شركة قيد لتقنية المعلومات المالكة لها، أي مسؤولية في حال قيام العميل بإدخال
                    معلومات
                    خاطئة أو غير مطابقة للواقع عند تسجيل واستخدام الخدمات التي تقدمها المنصة. </p>
                <p>6. لن تكون على المنصة أو شركة قيد لتقنية المعلومات المالكة لها، أي مسؤولية عن أية أضرار أو خسائر أو
                    الالتزامات
                    المباشرة وغير المباشرة أو العرضية التي قد تنشأ نتيجة عدم التزام العميل بأي من الشروط والأحكام أو
                    سياسات
                    المنصة
                    الأخرى. </p>
                <p>7. إن المنصة وخدماتها والمعلومات والمحتوى والمواد والوظائف المتاحة بها لا ستبدل بالمعلومات المتوفرة
                    من
                    خلال
                    الجهات الرسمية، فإن اللجوء إلى هذه المنصة يظل على مسؤولية المستفيد، ولا تكون المنصة بأي حال من
                    الأحوال
                    مسؤولة عن
                    أي خسائر أو أضرار من أي نوع قد يتكبدها المستفيد، أو اعتماده على أي بيان، أو معلومة، أو رأي، أو إعلان
                    في
                    المنصة.
                </p>
                <p>8. لن تكون المنصة أو شركة قيد لتقنية المعلومات المالكة لها، أي مسؤولية عن أي أضرار أو خسائر قد تنشأ
                    نتيجة
                    لاستخدام أو الدخول على المنصة، ويعتبر الامتناع عن الدخول أو استخدام المنصة هو الحل الوحيد المتاح
                    للعميل
                    في حالة
                    حدوث أي نزاعات أو مطالبات قضائية تتعلق باستخدام المنصة، أو أي انتهاكات، أو خروقات، أو أي مشكلات
                    تتعلق
                    بالرسوم أو
                    المدفوعات أو الاشتراكات. </p>
                <p>9. لن تكون على المنصة أو شركة قيد لتقنية المعلومات المالكة لها، أي مسؤولية عن أي استخدام خاطئ أو غير
                    مرخص
                    له على
                    المنصة، أو استخدام مخالف لقوانين وأنظمة المملكة العربية السعودية من قبل المستفيد، ولا يتحملون أيًا
                    من
                    ذلك فيما
                    يتعلق بالملاحقة القانونية وفرض الجزاءات. </p>
                <p>10. لن تكون على المنصة أو شركة قيد لتقنية المعلومات المالكة لها، أية مسؤولية عن الإفصاح الخاطئ
                    لمعلومات
                    العميل
                    المخزنة لديها، بسبب خطأ من أي طرف أو من أعمال غير مصرحة أو غير مشروعة لأطراف أخرى، ولا تتحمل أي ضمان
                    أو
                    خسائر أو
                    أضرار قد تنشأ عن ذلك.</p>
                <p>11. يعتبر استخدام بوابة الدفع الإلكترونية مسؤولية مشتركة بين العميل والجهة المقدمة لبوابة الدفع،
                    ولذلك
                    نوصي
                    بتأكيد جميع المعاملات والتحقق من تفاصيل الدفع قبل إتمام أي عملية. </p>
                <p>12. تحرص شركة قيد لتقنية المعلومات على أن تكون المنصة خالي من الفيروسات وبرامج التجسس أو برامج
                    الكوكيز
                    الضارة أو
                    أي محتوى ضار آخر بجهود معقولة ومناسبة، ولكن لا تضمن المنصة أو شركة قيد لتقنية المعلومات ولا يتحملان
                    المسؤولية عن
                    أية أضرار خارجة عن إرادتهما قد تصيب هاتف العميل أو أي جهاز أخر يستخدم عليه المنصة، من فيروسات أو
                    اختراقات أمنية
                    أو تجسس، فيكون العميل مسؤول وحده عن حماية جهازه. </p>
                <p>13. في حال حدوث أي خرق في حساب العميل لدى المنصة، تتحمل المنصة أو شركة قيد لتقنية المعلومات المالكة
                    لها
                    المسؤولية
                    فقط عن الأضرار الناتجة بشكل مباشر عن إخفاقها في حماية البيانات وفقًأ لسياسة الخصوصية، ولا تتحمل
                    المنصة
                    أو الشركة
                    أي مسؤولية عن الأضرار نتيجة سوء استخدام العميل لحسابه. </p>
                <p>14. لا تضمن المنصة أو شركة قيد لتقنية المعلومات المالكة لها أن تكون الخدمات المقدمة خالية من
                    الانقطاعات
                    أو
                    الأخطاء التي قد تواجه المنصة من تأخيرات وعدم توافر مؤقت لخدماتها نتيجة أعمال الصيانة أو المشكلات
                    الفنية.
                </p>
                <h2>البند الثاني عشر: القانون الواجب التطبيق والاختصاص القضائي</h2>
                <p> تخضع هذه الشروط والأحكام في تفسيرها وتنفيذها وكافة جوانبها للأنظمة واللوائح المعمول بها في المملكة
                    العربية
                    السعودية، وعند نشوء أي نزاع بين الطرفين متعلق بهذه المنصة بمحاولة حله وديًا من عبر التفاوض خلال (30)
                    يوم. إذا لم
                    يتم التوصل إلى حل، يمكن اللجوء إلى المحكمة المختصة بمدينة الرياض في المملكة العربية السعودية. وعند
                    وجود
                    أي
                    اختلاف أو تعارض في هذه النسخة عن النسخة الإنجليزية أو أي نسخة تترجم لها المنصة فإن النسخة العربية هي
                    المعتمدة
                    والحاسمة</p>
                <h2>البند الثالث عشر: التواصل </h2>
                <p>إذا كانت لديك أي أسئلة أو استفسارات حول سياسة أمان البيانات والخصوصية كيفية التعامل مع بياناتك، يمكنك
                    التواصل
                    معنا عبر التفاصيل المتاحة في قسم "معلومات التواصل" على المنصة. </p>

            </div>
        </div>
        <div class="col-md-3">
            <div class=" links bg-white p-5 rounded-5">
                <ul class="list-group p-0">
                    <li class="my-3 pb-3 border-bottom-1 border-bottom"> <a routerLinkActive="active"
                            routerLink="/visitor/terms-policy">الشروط
                            والاحكام لمنصة
                            قيد</a></li>
                    <li class="my-3 pb-3 border-bottom-1 border-bottom"> <a routerLinkActive="active"
                            routerLink="/visitor/privacy-policy">سياسة
                            الخصوصية</a></li>
                    <li class="my-3 pb-3 border-bottom-1 border-bottom"><a routerLinkActive="active"
                            routerLink="/visitor/cancel-policy">سياسة الالغاء</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>