.btn-close {
  background-color: #ffffff !important;
  span {
    background-color: #fff;
    padding: 12px;
    font-size: 22px;
  }
}
.yellow-circle {
    background-color: #FFE6A6;
    color:#DDA617;
    width: 35px;
    height: 35px;
  }
  .grey {
    color:#9F9F9F
  }
  hr {
    color:#CBCBCB;
    margin-top: 20px;

  }
  .green-circle {
    background-color: #B1E0E0;
    color:#106F6E;
    width: 35px;
    height: 35px;
  }
  .blue-circle {
    background-color: #B8EDEC;
    color:#49B6B5;
    width: 35px;
    height: 35px;
  }
  .grey-circle {
    background-color: #C9C9C9;
    color:#575757;
    width: 35px;
    height: 35px;
  }