.body {
  position: relative;
  padding-bottom: 0px;

  .icon {
    border-radius: 84px;
    background: rgba(16, 111, 110, 0.10);
    height: 57px;
    width: 57px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .genral-button {
    background-color: #1B1B1B !important;
    border: none;
    overflow: hidden;
    font-family: Expo Arabic !important;

    &:hover {
      background-color: #043e53 !important;
      box-shadow: 0 5px 10px 0 rgba(22, 105, 135, .6);
      color: #fff;
      text-decoration: none;
      transition: all .5s;
    }

    &:hover::before {
      left: 100%;
      opacity: 0;
    }


    position: relative;

    &::before {
      background-color: hsla(0, 0%, 100%, .25);
      border-right: 1px solid #fff;
      content: "";
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      top: 0;
      transform: translate(-105%);
      transition: all .5s;
      width: 100%;
      z-index: 1;

    }
  }

  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .activate-account {
    background-color: #fff;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    height: 345px;
    text-align: center;

    .form-title {
      margin: 30px auto;
      text-align: center;

      h5 {
        div {
          margin: 10px auto
        }
      }
    }
  }
}

.object-fit-contain {
  object-fit: cover;
}