<section class="user-management">
    <!-- begin::Header -->
    <div class="page-title">
        <div class="d-flex justify-content-between align-items-center">
            <h3 *ngIf="!id">
                {{"branchEditAdd.addBranch" | translate}}
            </h3>
            <h3 *ngIf="id">
                {{"branchEditAdd.editBranch" | translate}}
            </h3>
        </div>
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="content">
        <article>
            <div class="body-size position-relative">

                <div [formGroup]="form">
                    <div class="">
                        <h3>{{"branchEditAdd.branchInfo"| translate}}</h3>
                        <div class="row ">
                            <!--AR name-->
                            <div class="col-md-4 col-sm-6 col-12 mb-3 position-relative">
                                <label for="">{{ "branchEditAdd.arabicName" | translate }}</label>
                                <span class="text-danger mx-2 fs-2 position-absolute">*</span>
                                <input formControlName="nameAr" type="text" class="form-control"
                                    [placeholder]="'branchEditAdd.WriteArabicName' | translate" />
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                        validation: 'required',
                                        message: 'Validation.thisFieldIsRequired' | translate,
                                        control: form.controls['nameAr']
                                    }"></ng-container>
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                        validation: 'pattern',
                                        message: 'Validation.arabicOnly' | translate,
                                        control: form.controls['nameAr']
                                    }"></ng-container>
                            </div>
                            <!--En Name-->
                            <div class="col-md-4 col-sm-6 col-12 mb-3">
                                <label for="">{{ "branchEditAdd.englishName" | translate }}</label>

                                <input class="form-control bg-transparent" type="text"
                                    [placeholder]="'branchEditAdd.englishName' | translate" name="nameEn"
                                    formControlName="nameEn" autocomplete="off" [ngClass]="{
                                    'is-invalid': form.controls['nameEn'].invalid && form.controls['nameEn'].touched,
                                    'is-valid': form.controls['nameEn'].valid
                                }" />
                                <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                    validation: 'pattern',
                                    message: 'Validation.englishOnly' | translate,
                                    control: form.controls['nameEn']
                                }"></ng-container>
                            </div>
                            <!--Region-->
                            <div class="col-md-4 col-sm-6 col-12 mb-4">
                                <label>{{ "branchEditAdd.region" | translate }}</label>

                                <ng-select formControlName="regionId"
                                    [placeholder]='"branchEditAdd.region" | translate'>
                                    <!-- <option disable selected value="null">{{ "branchEditAdd.region" | translate }}</option> -->
                                    <ng-option *ngFor="let region of regions" [value]="region.id">
                                        {{lang === 'ar' ? region.nameAr : region.nameEn}}
                                    </ng-option>
                                </ng-select>

                            </div>
                            <!--- address --->
                            <div class="col-md-12 mb-4">
                                <label> {{ "addClient.address" | translate }} </label>
                                <textarea formControlName="nationalAddress" class="form-control bg-transparent"
                                    [placeholder]="'addClient.address'| translate">
                                </textarea>

                            </div>
                            <div class="row">
                                <!--manager-->
                                <div class="col-md-6 col-sm-6 col-12 mb-4">
                                    <label>{{ "branchEditAdd.branchManager" | translate }}</label>
                                    <span class="text-danger mx-2 fs-2" *ngIf=" managers.length > 0">*</span>

                                    <ng-select formControlName="employeeManagerId" *ngIf=" managers.length > 0"
                                        [placeholder]="'branchEditAdd.branchManager' | translate ">
                                        <!-- <option disable selected [value]="null">{{ "branchEditAdd.branchManager" | translate }}</option> -->
                                        <ng-option [value]="0">{{agentName}}</ng-option>
                                        <ng-option *ngFor="let manage of managers" [value]="manage.id">
                                            {{manage.name}}
                                        </ng-option>
                                    </ng-select>
                                    <input class="form-control bg-transparent" type="text"
                                        formControlName="employeeManagerId" [placeholder]="agentName" name="nameEn"
                                        *ngIf=" managers.length === 0 && agentName" />
                                    <div *ngIf=" managers.length === 0 && agentName" class="mt-3">
                                        **{{"branchEditAdd.disableLabel" | translate}}</div>
                                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                        validation: 'required',
                                        message: 'Validation.thisFieldIsRequired' | translate,
                                        control: form.controls['employeeManagerId']
                                    }"></ng-container>
                                </div>
                                <!--Employee No-->
                                <div class="col-md-6 col-sm-6 col-12 mb-4">
                                    <label for="">{{ "branchEditAdd.employeeNo" | translate }}</label>
                                    <input class="form-control bg-transparent" type="text"
                                        [placeholder]="'branchEditAdd.employeeNo' | translate" name="typeNum"
                                        formControlName="noOfEmployees" autocomplete="off" [ngClass]="{
                                        'is-invalid':
                                        form.controls['noOfEmployees'].invalid &&
                                        form.controls['noOfEmployees'].touched,
                                        'is-valid': form.controls['noOfEmployees'].valid
                                    }" />

                                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                      validation: 'pattern',
                                      message: 'Validation.numberonly' | translate,
                                      control: form.controls['noOfEmployees']
                                    }"></ng-container>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Attachment -->
                <h3 class="my-4">{{"addClient.attachment" | translate}}</h3>
                <form [formGroup]="filesForm" novalidate="novalidate" *ngIf="successLoad" id="kt_login_signin_form2"
                    (ngSubmit)="addAttachmentInfo()">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label>{{ "addClient.classification" | translate }}</label>
                            <!-- <span class="text-danger mx-2 fs-2">*</span> -->
                            <ng-select formControlName="branchNameId"
                                [placeholder]='"addClient.classification" | translate'
                                (change)="checkRepeatClassification()">
                                <!-- <option disable selected value="null">{{ "addClient.classification" | translate }}</option> -->
                                <ng-option *ngFor="let class of classes" [value]="class.id">
                                    {{lang === 'ar' ? class.nameAr : class.nameEn}}
                                </ng-option>
                            </ng-select>
                            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                validation: 'required',
                                message: 'loginPage.thisFieldIsRequired' | translate,
                                control: filesForm.controls['branchNameId']
                                }"></ng-container>

                            <div *ngIf="classificationRepeated" _ngcontent-ebq-c229=""
                                class="fv-plugins-message-container ng-star-inserted m-t-15">
                                <div _ngcontent-ebq-c229="" class="fv-help-block">
                                    <span _ngcontent-ebq-c229="" role="alert">
                                        {{ "addClient.classificationRepeated" | translate }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12 mb-4" *ngIf="!disableOther">
                            <label for="">{{ "branchEditAdd.another" | translate }}</label>
                            <!-- <span class="text-danger mx-2 fs-2">*</span> -->
                            <input class="form-control bg-transparent" type="text"
                                [placeholder]="'branchEditAdd.another' | translate" name="typeNum"
                                formControlName="classificationName" autocomplete="off" [ngClass]="{
                                'is-invalid':
                                filesForm.controls['classificationName'].invalid &&
                                filesForm.controls['classificationName'].touched,
                                'is-valid': filesForm.controls['classificationName'].valid
                            }" />
                            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                            validation: 'required',
                            message: 'loginPage.thisFieldIsRequired' | translate,
                            control: filesForm.controls['classificationName']}">
                            </ng-container>

                        </div>
                        <div class="col-md-6 mb-4 new-upload">
                            <label for="">{{ "addIssue.Attachment" | translate }} </label>
                            <!-- <span class="text-danger mx-2 fs-2">*</span> -->
                            <app-upload-file [acceptedExtensions]="['png', 'jpg', 'jpeg', 'pdf']" [flag]="4"
                                [isMultiple]="false" (bindValue)="uploadImg($event)"
                                [labelUploaded]="'addIssue.upload' | translate" [fileName]="fileName" [delName]="true">
                            </app-upload-file>
                            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                validation: 'required',
                                message: 'loginPage.thisFieldIsRequired' | translate,
                                control: filesForm.controls['attachment']
                            }"></ng-container>
                            <div *ngIf="fieldRequired" _ngcontent-ebq-c229=""
                                class="fv-plugins-message-container ng-star-inserted m-t-15">
                                <div _ngcontent-ebq-c229="" class="fv-help-block">
                                    <span _ngcontent-ebq-c229="" role="alert">
                                        {{ "addClient.attachmentRequired" | translate }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                            <div class="d-flex justify-content-end btn-add">
                                <button type="button" id="kt_sign_in_submit" class="genral-button add"
                                    (click)="addAttachmentInfo()" [disabled]="classificationRepeated">
                                    <span class="d-flex align-items-center justify-content-center">
                                        <img src="assets/imgs/qyd/Right-icon.svg" />
                                        <span class="indicator-label mx-2">
                                            {{ "addIssue.Add" | translate }}
                                        </span>
                                    </span>
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
                <div class="col-md-12 table-grid table-striped table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{ "addClient.classification" | translate }}</th>
                                <th scope="col">{{ "addIssue.Attachment" | translate }}</th>

                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of attachmentFileInfoArray">
                                <td>{{ item.classificationName ?item.classificationName: item.branchName}}</td>
                                <td>{{ item.imageName.substring(0, 40)}}<span style="float:right"> ...</span></td>

                                <td>
                                    <a target="_blank"
                                        [href]="item?.imageURL ?item?.imageURL :item?.imageStorageFileURL" download>
                                        <i class="fa-solid fa-file-arrow-down"></i>
                                        {{ "addClient.download" | translate }}

                                    </a>
                                </td>
                                <td (click)="deleteRow(item)" role="button" class="deleteCol">
                                    <img src="assets/imgs/qyd/delete-icon.svg" />
                                    {{ "addIssue.delete" | translate }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex button-end">
                    <div class="form-action-btn">
                        <button (click)="Back()" id="kt_sign_in_submit" class="general-outline-button">
                            <ng-container>
                                <span class="indicator-label">
                                    {{ "addIssue.Back" | translate }}
                                </span>
                            </ng-container>
                        </button>

                        <button type="submit" (click)="submit()" id="kt_sign_in_submit"
                            [ngClass]="{ end: lang === 'en', 'end-arabic': lang === 'ar' }" class="genral-button">
                            <ng-container class="d-flex">
                                <span class="indicator-label">
                                    {{ "addIssue.SaveAndContinue" | translate }}
                                </span>
                                <img src="assets/imgs/qyd/Left-icon.svg" class="btn-img" />
                            </ng-container>
                        </button>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                <span role="alert">
                    {{ message }}
                </span>
            </div>
        </div>
    </ng-container>
</ng-template>