<div class="container">
  <!-- <app-breadcrumb></app-breadcrumb> -->
</div>

<div class="main container  pt-7">

  <section id="prince" class="prince " data-aos="fade-up" data-aos-duration="1000">
    <div class="content container position-relative">
      <svg class="position-absolute " xmlns="http://www.w3.org/2000/svg" width="53" height="40" viewBox="0 0 53 40"
        fill="none">
        <path
          d="M13.456 0L25.622 0.789999C21.198 12.2713 18.828 25.122 18.512 39.342H0.5C1.55333 25.122 5.872 12.008 13.456 0ZM40 0L52.166 0.789999C47.742 12.2713 45.372 25.122 45.056 39.342H27.044C28.0973 25.122 32.416 12.008 40 0Z"
          fill="#0E6463" />
      </svg>
      <div class="row  justify-content-between ">
        <div class="col-lg-6 position-relative ">
          <img src="assets/imgs/about/prince.png" class="w-100 " alt="Mohammed bin Salman">
        </div>
        <div class="col-lg-5  d-flex align-items-center">
          <div class="caption">
            <h1 class="text-white my-5">{{'about.princeHead'|translate}}</h1>
            <span class="fw-bolder ">{{'about.crownPrince'|translate}}</span>
            <p class="text-white mt-3">{{'about.princeName'|translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="qyd-platform" class="qyd-platform container px-4 overflow-hidden">
    <div class="px-7" data-aos="fade-left" data-aos-duration="1000">
      <span>{{'about.learnMore'|translate}}</span>
      <h2 class="my-4">{{'about.qydPlatform'|translate}}</h2>
    </div>
    <div class="row my-5 gy-6 ">
      <div class="col-md-4" data-aos="fade-left" data-aos-duration="1000">
        <div class="card bg-white text-center h-100">
          <svg class="m-auto my-4" xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33"
            fill="none">
            <path
              d="M19.9727 9.85547C19.9727 9.85547 20.6393 10.5221 21.306 11.8555C21.306 11.8555 23.4236 8.52214 25.306 7.85547"
              stroke="#25577F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M13.3278 3.1952C9.99648 3.05416 7.4228 3.43792 7.4228 3.43792C5.79766 3.55412 2.68325 4.46522 2.68328 9.78614C2.6833 15.0618 2.64882 21.5658 2.68328 24.1586C2.68328 25.7428 3.6641 29.4378 7.05898 29.6358C11.1854 29.8766 18.6183 29.9278 22.0286 29.6358C22.9415 29.5844 25.9808 28.8677 26.3655 25.5609C26.764 22.1352 26.6847 19.7544 26.6847 19.1877"
              stroke="#25577F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path
              d="M29.3325 9.85417C29.3325 13.5361 26.3449 16.5209 22.6594 16.5209C18.9739 16.5209 15.9863 13.5361 15.9863 9.85417C15.9863 6.17227 18.9739 3.1875 22.6594 3.1875C26.3449 3.1875 29.3325 6.17227 29.3325 9.85417Z"
              stroke="#25577F" stroke-width="2" stroke-linecap="round" />
            <path d="M9.30859 17.8555H14.6419" stroke="#25577F" stroke-width="2" stroke-linecap="round" />
            <path d="M9.30859 23.1875H19.9752" stroke="#25577F" stroke-width="2" stroke-linecap="round" />
          </svg>
          <p>{{'about.platformPoints.point1'|translate}}</p>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
        <div class="card bg-white text-center h-100">
          <svg class="m-auto my-4" xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33"
            fill="none">
            <path
              d="M8.83366 14.5013C11.9633 14.5013 14.5004 11.9642 14.5004 8.83464C14.5004 5.70502 11.9633 3.16797 8.83366 3.16797C5.70405 3.16797 3.16699 5.70502 3.16699 8.83464C3.16699 11.9642 5.70405 14.5013 8.83366 14.5013Z"
              stroke="#25577F" stroke-width="2" />
            <path
              d="M24.1667 29.8333C27.2963 29.8333 29.8333 27.2963 29.8333 24.1667C29.8333 21.0371 27.2963 18.5 24.1667 18.5C21.0371 18.5 18.5 21.0371 18.5 24.1667C18.5 27.2963 21.0371 29.8333 24.1667 29.8333Z"
              stroke="#25577F" stroke-width="2" />
            <path
              d="M8.83366 29.8333C11.9633 29.8333 14.5004 27.2963 14.5004 24.1667C14.5004 21.0371 11.9633 18.5 8.83366 18.5C5.70405 18.5 3.16699 21.0371 3.16699 24.1667C3.16699 27.2963 5.70405 29.8333 8.83366 29.8333Z"
              stroke="#25577F" stroke-width="2" />
            <path
              d="M28.3235 3.75375L29.2467 4.67691C30.0277 5.45795 30.0277 6.72428 29.2467 7.50533L24.4101 12.4329C24.0297 12.8133 23.5431 13.0698 23.0141 13.1686L20.0165 13.8193C19.5433 13.9221 19.1219 13.5019 19.2232 13.0283L19.8613 10.0479C19.96 9.51895 20.2165 9.03228 20.5969 8.65182L25.4951 3.75375C26.2761 2.97271 27.5425 2.97271 28.3235 3.75375Z"
              stroke="#25577F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <p>{{'about.platformPoints.point2'|translate}}</p>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-right" data-aos-duration="1000">
        <div class="card bg-white text-center h-100">
          <svg class="m-auto my-4" xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33"
            fill="none">
            <path
              d="M22.6977 4.54607L21.4249 4.20695C17.825 3.24778 16.025 2.76821 14.607 3.58229C13.189 4.39637 12.7066 6.18619 11.742 9.76585L10.3779 14.8282C9.41327 18.4078 8.93098 20.1977 9.74967 21.6077C10.5684 23.0178 12.3684 23.4973 15.9683 24.4565L17.2411 24.7957C20.841 25.7548 22.641 26.2344 24.059 25.4204C25.477 24.6062 25.9594 22.8164 26.9239 19.2368L28.2881 14.1744C29.2527 10.5947 29.735 8.80487 28.9163 7.39485C28.0977 5.98482 26.2977 5.50523 22.6977 4.54607Z"
              stroke="#25577F" stroke-width="2" />
            <path
              d="M22.4716 10.4107C22.4716 11.4961 21.5867 12.376 20.4951 12.376C19.4035 12.376 18.5186 11.4961 18.5186 10.4107C18.5186 9.32523 19.4035 8.44531 20.4951 8.44531C21.5867 8.44531 22.4716 9.32523 22.4716 10.4107Z"
              stroke="#25577F" stroke-width="2" />
            <path
              d="M16.0003 28.4271L14.7306 28.7728C11.139 29.7508 9.34329 30.2399 7.92858 29.4097C6.51389 28.5797 6.03272 26.7548 5.07037 23.1049L3.70942 17.9432C2.74708 14.2933 2.2659 12.4684 3.08269 11.0307C3.78922 9.78709 5.33366 9.83237 7.33366 9.83221"
              stroke="#25577F" stroke-width="2" stroke-linecap="round" />
          </svg>
          <p>{{'about.platformPoints.point3'|translate}}</p>
        </div>
      </div>
    </div>
  </section>

  <section id="message-and-vision" class="message-and-vision container overflow-hidden">
    <div class="row text-white gy-7">
      <div class="col-md-6" data-aos="fade-left" data-aos-duration="1500">
        <div class="message h-100">
          <h3 class="text-white">{{'about.message'|translate}}</h3>
          <p>{{'about.messageText'|translate}}</p>

        </div>
      </div>
      <div class="col-md-6" data-aos="fade-right" data-aos-duration="1500">
        <div class="vision h-100">
          <h3 class="text-white">{{'about.vision'|translate}}</h3>
          <p>{{'about.visionText'|translate}}</p>

        </div>
      </div>
    </div>
  </section>

  <section id="goals" class="goals container overflow-hidden">
    <div class="row">
      <div class="col-md-4" data-aos="fade-left" data-aos-duration="1500">
        <span>{{'about.qydGoals'|translate}}</span>
        <h2 class="mt-3">{{'about.goalsHead'|translate}}</h2>
      </div>
      <div class="col-md-8">
        <div class="row gy-7">
          <div class="col-md-6" data-aos="fade-left" data-aos-duration="1500">
            <div class="goal d-flex " [ngClass]="lang === 'ar'? 'border-start' :'border-end' ">
              <div class="number px-5 ">
                <span>1</span>
              </div>
              <div class="mx-8">
                <h3>{{'about.goalsPoints.point1Title'|translate}}</h3>
                <p>{{'about.goalsPoints.point1Text'|translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-right" data-aos-duration="1500">
            <div class="goal d-flex">
              <div class="number px-5">
                <span>3</span>
              </div>
              <div class="mx-8">
                <h3>{{'about.goalsPoints.point2Title'|translate}}</h3>
                <p>{{'about.goalsPoints.point2Text'|translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-left" data-aos-duration="1500">
            <div class="goal d-flex" [ngClass]="lang === 'ar'? 'border-start' :'border-end' ">
              <div class="number px-5">
                <span>2</span>
              </div>
              <div class="mx-8">
                <h3>{{'about.goalsPoints.point3Title'|translate}}</h3>
                <p>{{'about.goalsPoints.point3Text'|translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-right" data-aos-duration="1500">
            <div class="goal d-flex">
              <div class="number px-5">
                <span>4</span>
              </div>
              <div class="mx-8">
                <h3>{{'about.goalsPoints.point4Title'|translate}}</h3>
                <p>{{'about.goalsPoints.point4Text'|translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>