.card-header {
    // background-color: #f8f9fa;
    font-weight: bold;
}

.form-check-label {
    font-size: 0.9rem;
}

button {
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 8px;

}


.addBtn {
    background: #18181B;
}

.closeBtn {
    background-color: #F4F4F5;
    color: #000;
}