<div class="container">
  <!-- <app-breadcrumb></app-breadcrumb> -->
  <h1>{{ "privacy.title" | translate }}</h1>





  <div class="row">
    <div class="col-md-9">

      <div class="bootstrap p-10 rounded-4" dir="rtl">
        <h2>المقدمة</h2>
        <p>تقوم منصة قيد بتخزين وجمع المعلومات والبيانات الشخصية لحسابك في المنصة في حدود ما تطلبه من معلومات وما يستخرج
          من
          بيانات خلال استخدامك للمنصة، وبناء على ذلك نود إحاطتكم بأن تعاملاتنا قائمة على مبدأ الشفافية والثقة المتبادلة،
          ونحن
          في منصة قيد نقدر ثقتكم بنا، ونضمن لكم سرية جميع معلوماتكم المسجلة لدينا بما يتماشى مع سياستنا وبما لا يخالف
          نظام
          حماية البيانات الشخصية والأنظمة ذات العلاقة. وتمثل سياسة الخصوصية التي ستوضح أدناه عقد قانوني ملزم فيما بين
          الطرفين
          (سواء كنت شخصًا طبيعيًا أو اعتباريًا) وبين شركة قيد لتقنية المعلومات وهي المالك والمطور للمنصة. وبمجرد تسجيل
          دخولك
          في المنصة والموافقة على الشروط والأحكام وسياسية الخصوصية يكون العقد قد أبرم ونتجت آثاره القانونية/ ملزم من
          الناحية
          القانونية؛ لذلك يجب عليك قراءة هذه البنود بعناية تامة، كما نوصي بالاحتفاظ بنسخة من بنود سياسة الخصوصية هذه
          وذلك
          بطلبها على بريدك الالكتروني، حتى يتسنى لكم الرجوع إليها مستقبلاً. وفي حال عدم موافقتك على هذه السياسات فالرجاء
          التوقف عن استخدام منصة قيد فوراً، علماً أن استمرارك باستخدامها يعد موافقة صريحة. </p>


        <h2>البند الأول:</h2>
        <p> يعتبر التمهيد أعلاه جزءًا لا يتجزأ من هذه الشروط والأحكام ومكملةً ومفسرةً لها. </p>
        <h2>البند الثاني: التعريفات </h2>
        <p>يقصد بالكلمات والعبارات الآتية حيثما وردت في هذه السياسة ما هو موضح في هذا البند ما لم يقتض سياق النص خلاف
          ذلك:</p>
        <p>المنصة: يقصد بها تطبيق أو موقع قيد المملوك لشركة قيد لتقنية المعلومات والتي تقدم خدمات متضمنة باقات الاشتراك
          الشهرية و السنوية .</p>
        <p>العميل : أي شخص طبيعي أو اعتباري يقوم بالدخول على المنصة أو يستخدم المنصة ويستفيد من الخدمات التي تقدمها.
        </p>
        <p>الاستخدام: الدخول إلى المنصة أو الاستفادة من أي خدمة أو ميزة تقدمها المنصة. </p>
        <p>ملفات تعريف الارتباط: هي ملفات نصية صغيرة تخزن على جهاز العميل عند استخدامه لمنصة قيد. </p>
        <p>البيانات الشخصية: بقصد بها أي معلومات تتعلق بالشخص الطبيعي أو الاعتباري والتي يتم جمعها أو معالجتها أو
          استخدامها
          عبر المنصة لغرض تقديم الخدمات. </p>
        <p>المحتوى: يشمل مصطلح "المحتوى" جميع النصوص، الصور، الرسوم البيانية، الفيديوهات، الملفات الصوتية، والمعلومات
          الأخرى
          التي ينشرها أو يشاركها العميل عبر المنصة أو يتفاعل معها. </p>
        <p>الملكية الفكرية: ما يترتب عليها من علامات التجارية وأسماء التجارية وحقوق الشهرة التجارية والأسرار التجارية
          والمعلومات السرية وأي شكل آخر من أشكال الحقوق الفكرية، بما في ذلك الحقوق المتصلة بالمنصة أو الشركة وسائر ما
          يتفرع
          عنها أو يتصل لها من برمجيات وتطبيقات. </p>
        <p>القوة القاهرة: أي أعمال أو أحداث أو امتناعات أو حوادث خارجة عن سيطرة المنصة المعقولة وتتضمن فشل، أو عطل
          الخدمات، أو
          المنفعة، أو حرب، أو أحداث شغب، أو إضرار متعمد، أو عدم امتثال لأي نظام، أو أمر، أو تنظيم، أو توجيه، أو أي كوارث
          طبيعية بما في ذلك الحرائق والفيضانات والعواصف والزلازل، أو توقف في النظام أو خدمة الإنترنت أو نحوه.</p>
        <p>الظروف الطارئة: حوادث استثنائية عامة خارجة عن إرادة الأطراف، لا يمكن توقعها وتطرأ عند التنفيذ فتجعل التنفيذ
          مرهقاً
          لا مستحيلاً، وتهدد بخسارة فادحة لأحد الأطراف أو كلاهما.</p>
        <h2>البند الثالث: البيانات والمعلومات التي يتم جمعها على منصة قيد</h2>
        <h3>1. المعلومات الشخصية: </h3>
        <p>• البيانات الشخصية: تقوم المنصة بجمع معلومات عن العميل ين من حساباتهم الشخصية مثل: اسم العميل ورقم الجوال،
          والعنوان، البريد الإلكتروني، وغير ذلك من البيانات ذات الطابع الشخصي لملف العميل على المنصة.</p>
        <p>• البيانات السرية: المعلومات التي يطلبها الموقع من المستخدم عند إنشاء حساب خاص للمستخدم، بما في ذلك البيانات
          الشخصية الخاصة بالمستخدم – على سبيل المثال لا الحصر- تشمل البيانات مثل المعلومات المالية، السجلات الصحية،
          أرقام
          الضمان الاجتماعي، وغيرها من المعلومات السرية، </p>
        <p>• المعلومات المتبادلة أثناء تواصل: عند تواصل العميل ين مع الشركة، قد يتم جمع المعلومات التالية: </p>
        <ul>
          <li>- الطلبات المقدمة لخدمات دعم العملاء</li>
          <li>- الاستفسارات</li>
          <li>- والملاحظات</li>
          <li>- الشكاوى </li>

        </ul>
        <h3>2. بيانات الاستخدام: عنوان بروتوكول الإنترنت الخاص في المستخدم ( (IPوتفاصيل إصدار متصفح الويب الذي استخدمه
          مستخدم
          الموقع.</h3>
        <h3>3. معلومات إضافية: </h3>
        <p>يتم الحصول على هذه المعلومات من خلال استخدام العميل للمنصة وتتضمن هذه المعلومات نوع الهاتف الذكي ومعلومات
          تقنية عن
          أساليب اتصال العميل بالمنصة، ونظام التشغيل وإصداره واللغة المفضلة والموقع الجغرافي للعميل - في حال سمح بذلك-
          بالإضافة لدفتر العناوين الخاص بك وجهات الاتصال - في حال سمح العميل بذلك- وغيرها من المعلومات المشابهة مثل
          تفاصيل
          الخدمات أو المنتجات المطلوبة والتفضيلات وسيتم الاحتفاظ بها عند إلغاء الحساب في حال سمح العميل بذلك. </p>
        <h3>4. البيانات الناتجة عن العمليات والخدمات المقدمة:</h3>
        <p>تحتفظ المنصة بمعلومات العميل ين والخدمة المقدمة لهم - على سبيل المثال لا الحصر- المواقع والأوقات التي تم
          استخدام
          المنصة فيها، عدد مرات الاستخدام، ويحق للمنصة الاحتفاظ بهذه المعلومات حتى بعد إلغاء العميل للحساب دون الإشارة
          أو
          ربطها بحساب العميل. </p>
        <h2>البند الرابع: الغرض من استخدام المعلومات التي تم جمعها </h2>
        <p>تقوم منصة قيد بجمع واستخدام معلومات العميل في الأغراض التالية: </p>

        <p>1. خدمة العميل: تستخدم المعلومات لتقديم الخدمات وتلبية الاحتياجات التي يطلبها العميل عبر المنصة. </p>
        <p>2. تحسين المنصة: تستخدم المعلومات لتحسين إدارة وتجربة العميل للمنصة والعمل على تطويرها بما يتماشى مع التطلعات
          والمتطلبات اللازمة. </p>
        <p>3. التسويق والاتصالات:
          - تستخدم المعلومات لإرسال إشعارات حول العروض والتحديثات والتواصل المباشر مع العميل.
          - تستخدم المعلومات في الاستجابة للطلبات الخاصة بالعميل ين من خدمات، أو استفسارات، أو الأسئلة، وفي حال قرر
          العميل
          الانضمام إلى قائمة مراسلاتنا، فإنه سوف يتلقى رسائل على بريده الإلكتروني قد تتضمن أخبار ومعلومات تتعلق بالمنصة
          بالإضافة للحملات الترويجية.
        </p>
        <p>4. الامتثال القانوني: تستخدم المعلومات للامتثال بالأنظمة واللوائح المعمول بها في المملكة العربية السعودية.
        </p>
        <p>5. الموافقة: تقوم المنصة بأخذ موافقة العميل قبل معالجة البيانات لأي غرض من الأغراض المذكورة أعلاه. </p>
        <h2>البند الخامس: حدود الإفصاح عن معلومات العميل الشخصية </h2>
        <p>لن تستخدم المعلومات الشخصية للعميل إلا للأغراض المحددة في البند الرابع أعلاه باستثناء الحالات التالية: </p>
        <p>1. في حال الحصول على موافقة من العميل بالإفصاح.</p>
        <p>2. مشاركة بيانات العميل مع مزودين الخدمة:</p>
        <p>- تقوم منصة قيد بتزويد مزودين الخدمة ببيانات العميل لغرض توفير الحماية الكافية لبياناته وتقديم مزايا عروض
          مناسبة
          على خدمات المنصة. </p>
        <p>- تنطبق هذه السياسة على مزود الخدمة ويكون ملزمًا بها. </p>
        <p>3. مشاركة المعلومات مع طرف ثالث: </p>
        <p>- قد توظف شركة قيد لتقنية المعلومات شركات أخرى أو أفراد لأداء المهام نيابة عنها، وعلى سبيل المثال لا الحصر:
          إرسال
          البريد الإلكتروني، تحليل البيانات، تقديم المساعدة والتسويق، تقديم نتائج البحث. ويكون لهؤلاء إمكانية الوصول إلى
          البيانات المقدمة من العميل. </p>

        <p>- الإفصاح بها لدى الجهات المختصة في حال طلبها بسبب الاستخدام غير المشروع للمنصة أو الامتثال للمتطلبات
          النظامية.</p>
        <p>- قد يفصح عن البيانات في حالات خاصة بما يتوافق مع الأنظمة واللوائح المعمول بها في المملكة العربية السعودية،
          ومنها
          على سبيل المثال لا الحصر: أوامر الاستدعاء أو الأوامر القضائية. </p>
        <h2>البند السادس: معايير معالجة البيانات</h2>

        <p>تقوم شركة قيد لتقنية المعلومات بمعالجة البيانات وفقًا لعدة معايير ومنها على سبيل المثال لا الحصر: </p>

        <p>1. المشروعية: تعالج البيانات وفقًا لموافقة العميل بما يتوافق مع الأنظمة واللوائح المعمول بها في المملكة
          العربية
          السعودية، بما في ذلك نظام حماية البيانات الشخصية. </p>

        <p>2. العدالة: تعالج البيانات بطريقة نزيهة وغير مضللة، بحيث لا تؤدي المعالجة إلى تأثيرات سلبية غير مبررة على
          حقوق
          العميل.</p>
        <p>3. الشفافية: تتيح المنصة للعميل المعلومات بوضوح عن كيفية جمع بياناتهم ومعالجتها، بما في ذلك الأغراض التي
          تستخدم من
          أجلها</p>
        <p>4. جمع البيانات الضرورية: تجمع البيانات فقط بما يتناسب مع الأغراض المشروعة التي تتطلبها تقديم خدمات المنصة
          إلى
          العميل، وتجنب جمع أي بيانات غير ضرورية أو إضافية غير لازمة. </p>
        <p>5. الاحتفاظ بالبيانات: تحفظ البيانات للمدة الزمنية اللازمة لتوفير خدمات المنصة حتى انتهاء الغرض من معالجتها.
        </p>
        <p>6. التحقق والتحديث: تتخذ التدابير اللازمة لضمان البيانات دقيقة ومحدثة، بما في ذلك التحقق من صحة البيانات عند
          جمعها
          وتحديثها بشكل دوري. </p>
        <p>7. إجراءات تصحيح البيانات: تتيح المنصة للعميل إمكانية تصحيح أي بيانات غير دقيقة أو تحديثها، وذلك وفق آلية
          واضحة
          لتقديم طلبات تصحيح البيانات وضمان استجابتها بشكل مناسب. </p>
        <h2>البند السابع: حقوق العميل </h2>
        <p>يحق للعميل فيما يتعلق في بياناته الشخصية طلب أي من الآتي:</p>
        <p>1. الوصول إلى بياناته الشخصية المتوفرة لدى المنصة، ويشمل ذلك الاطلاع عليها، والحصول على نسخة منها بصيغة واضحة
          ومطابقة لمضمون السجلات. </p>
        <p>2. تصحيح بياناته الشخصية، أو إتمامها، أو تحديثها، أو حذفها.</p>
        <p>3. نقل بياناته الشخصية إلى منظمة أخرى، بشرط أن تكون هذه البيانات قابلة للنقل من خلال وسائل تقنية وتنسيق منظم.
        </p>
        <p>4. تقوم المنصة بإتلاف البيانات بعد الانتهاء من الغرض من معالجتها بطريقة آمنة تمنع إساءة الاستخدام او الفقدان
          أو
          الاختلاس أو الوصول غير المصرح به وفقًا للأنظمة واللوائح المعمول بها في المملكة العربية السعودية. </p>
        <p>5. إتلاف بياناته الشخصية المتوفرة لدى المنصة والتي انتهت الحاجة منها، وذلك دون إخلال بما تقضي به المادة
          (الثامنة
          عشرة) من نظام حماية البيانات الشخصية.</p>
        <p>6. سحب موافقته على معالجة بيانته الشخصية في أي وقت، مع عدم الإخلال بمشروعية أي معالجة تمت بناءً على الموافقة
          قبل
          طلب سحبها. </p>
        <p>7. معرفة الغرض من جمع بياناته وحفظها ونطاق استعمال بياناته الشخصية. </p>
        <p>8. الاعتراض على معالجة بياناته الشخصية وذلك وفق الحالات التالية: </p>
        <p>- في حال كانت معالجة البيانات تضر بمصالح أو حقوق العميل الشخصية.</p>
        <p>- في حال استخدام البيانات ومعالجتها لأغراض التسويق المباشر مثل تلقي العروض الترويجية أو الإعلانات.</p>
        <p>- في حال كانت معالجة البيانات تشمل اتخاذ قرارات تعتمد فقط على التحليل التلقائي والتي تضر بمصالح وحقوق العميل
          بشكل
          كبير.</p>
        <p>- في حال كانت معالجة البيانات لا تتوافق مع الأنظمة واللوائح ذات العلاقة. </p>
        <h2>البند الثامن: تخزين البيانات والاحتفاظ بها</h2>
        <p>تقوم شركة قيد لتقنية المعلومات بتخزين البيانات الشخصية والاحتفاظ بها وفقًا لأعلى معايير الأمان والامتثال
          للأنظمة
          واللوائح ذات العلاقة، وذلك على النحو التالي: </p>
        <h3>1. تخزين البيانات</h3>
        <p>- الأمان: تخزن البيانات الشخصية بشكل آمن باستخدام تقنيات التشفير المتقدمة وضوابط وصول صارمة لضمان حمايتها من
          الوصول
          غير المصرح به.</p>
        <p>- النسخ الاحتياطي: يتم إجراء نسخ احتياطية منتظمة للبيانات للحفاظ عليها من الفقدان أو التلف وضمان استردادها
          عند
          الحاجة.</p>
        <h3>2. الاحتفاظ بالبيانات</h3>
        <p>- الاحتفاظ الضروري: تحتفظ بالبيانات فقط طالما كانت ضرورية للأغراض التي جمعت من أجلها، وبعد الانتهاء من الحاجة
          إلى
          هذه البيانات يتم حذفها أو إخفاء هويتها بطريقة آمنة.</p>
        <p>- حساب العميل غير النشط: تحتفظ ببيانات العميل غير النشط لمدة سنة واحدة فقط من تاريخ انتهاء الاشتراك في
          المنصة، ويتم
          إرسال إشعار قبل بدء إجراء الحذف.</p>
        <p>- بيانات احتياطية: تحتفظ ببيانات العميل لمدة (30) يومًا كاحتياطي في حالة طلب حذف البيانات كاملة من المنصة.
        </p>
        <h3>3. حذف البيانات</h3>
        <p>- تأكيد الحذف: عند طلب حذف البيانات من قبل العميل عبر المنصة، فيتم تأكيد الحذف برسالة واضحة تفيد بأن البيانات
          ستحذف
          نهائيًا ولن يمكن استرجاعها.</p>
        <p>- نموذج الحذف: عند طلب العميل لحذف حسابه لدى المنصة نهائيًا؛ فيكون ذلك وفق نموذج رسمي يتضمن تأكيد مسؤولية
          العميل عن
          حذف البيانات.</p>
        <p>- الحذف النهائي: تحذف البيانات نهائيًا من منصة قيد عن طلب الحذف، ويرسل تأكيد إلى العميل بإتمام عملية الحذف.
        </p>
        <p>- انتهاء الاشتراك: عند انتهاء اشتراك العميل في المنصة وعدم قيامه بالتجديد الاشتراك، يشعر العميل بذلك بشكل
          دوري أو
          شهري، ستقوم المنصة بالاحتفاظ ببيانات العميل لمدة سنة واحدة فقط قبل القيام بحذف بياناته وحسابه من المنصة. </p>
        <h2>البند التاسع: أمان البيانات</h2>
        <p>تقوم شركة قيد لتقنية المعلومات باتخاذ كافة التدابير التقنية والتنظيمية التالية لضمان أمان وحماية البيانات:
        </p>
        <h3>1. التدابير التقنية:</h3>
        <p>- تشفير البيانات أثناء النقل والتخزين لحمايتها من الوصول غير المصرح به.</p>
        <p>- باستخدام شبكات وبروتوكولات الأمان ومنها على سبيل المثال: (HTTPS) و (SSL) لضمان تأمين البيانات خلال عملية
          تبادلها
          عبر الإنترنت. </p>
        <p>- إجراء عمليات تدقيق أمني منتظمة وتقييمات للثغرات لاكتشاف ومعالجة أي نقاط ضعف محتملة في المنصة. </p>
        <h2>2. التدابير التنظيمية: </h2>
        <p>- تطبيق سياسات صارمة للتحكم في الوصول لضمان أن البيانات متاحة فقط للمصرح لهم. </p>
        <p>- تقديم تدريب أمني إلزامي لجميع المصرح لهم لضمان فهم كامل لسياسات الأمان والإجراءات الازمة. </p>
        <p>- توافر خطة استجابة متكاملة للتعامل مع حوادث خروقات البيانات لضمات استجابة سريعة وفعالة في حال حدوث أي
          انتهاك.</p>
        <h2>البند العاشر: ملفات تعريف الارتباط والتقنيات التبعة</h2>

        <p>1. استخدام ملفات تعريف الارتباط: </p>
        <p>تستخدم منصة قيد ملفات تعريف الارتباط (كوكيز) لتحسين تجربة العميل وتوفير وظائف وعمليات مخصصة، وتساعد هذه
          الملفات على
          الآتي: </p>
        <p>- تذكر تفصيلات وإعدادات العميل على منصة قيد لتحسين تجربته عند استخدامه لخدمات المنصة.</p>
        <p>- تحليل كيفية تفاعل العميل مع منصة قيد لتحسين أداء المنصة. </p>
        <p>- تخصيص المحتوى والعروض بناءً على اهتمامات العميل.</p>
        <h3>2. إدارة ملفات تعريف الارتباط: </h3>
        <p>تتيح منصة قيد للعميل عدة خيارات إدارة ملفات تعريف الارتباط من خلال إعدادات المنصة، وهي كالآتي: </p>
        <p>- إيقاف تشغيل ملفات تعريف الارتباط تمامًا.</p>
        <p>- تلقي إشعارات عند تعيين ملفات تعريف الارتباط.</p>
        <p>- حذف ملفات تعريف الارتباط من جهاز العميل. </p>
        <p>3. التقنيات التبيعة الأخرى: </p>
        <p>بالإضافة إلى ملفات تعريف الارتباط، قد تستخدم منصة قيد تقنيات تبعية أخرى، مثل إشارات الويب والتقنيات المشابهة
          والتي
          بدورها تساعد على الآتي: </p>

        <p>- جمع المعلومات حول تفاعل العميل على المنصة.</p>
        <p>- تحليل أداء المنصة وتقديم خدمات ومحتوى يتناسب مع اهتمامات العميل.</p>
        <p>4. الإفصاح عن المتغيرات: </p>
        <p>- في حال القيام باستخدام ملفات تعريف الارتباط أو التقنيات التبيعة لأغراض أخرى غير المنصوص عليها أعلاه، وعلى
          سبيل
          المثال لا الحصر: الأغراض الإعلانية أو التحليل العميق، ستقوم منصة قيد بتوضيح ذلك الغرض. </p>
        <p>- تحتفظ شركة قيد بالحق في تحديث سياسة ملفات تعريف الارتباط والتقنيات التبعية من وقت لآخر، وستقوم شركة قيد
          بنشر أي
          تغييرات على هذه السياسة على المنصة.</p>
        <p>- نوصي العميل بمراجعة هذه السياسة بانتظام للبقاء على اطلاع بأحدث المعلومات حول المنصة وسياساتها الأخرى.</p>
        <h2>البند الحادي عشر: إدارة اختراق البيانات ومسؤولية منصة قيد</h2>
        <p>1. في حالة حدوث خرق للبيانات، ستتخذ منصة قيد خطوات فورية لاحتواء الحدث وآثاره، بما في ذلك عزل الأجزاء
          المتأثرة من
          النظام وتقييم نطاق الخرق، واتخاذ الإجراءات اللازمة لحماية البيانات المتبقية.</p>
        <p>2. ستقوم منصة قيد بإخطار العميل ين والجهات المختصة ذات العلاقة، ووفقًا لنظام مكافحة الجرائم المعلوماتية
          والأنظمة
          ذات العلاقة.</p>
        <p>3. ستقوم المنصة بإجراء تحقيق شامل لتحديد أسباب الخرق وتقييم تأثيره وتحديد أي ثغرات أمنية أدت إلى الحادثة.
          وبناءً
          على نتائج التحقيق ستقوم المنصة قيد بمراجعة وتحديث سياساتها وإجراءاتها الأمنية في حال تطلب الأمر لضمان تعزيز
          الحماية
          وعدم تكرار مثل هذه الحادثة في المستقبل. </p>
        <p>4. تحرص شركة قيد لتقنية المعلومات أن تخضع الأطراف المتعاملة مع منصة قيد كطرف ثالث ولديهم إمكانية الوصول إلى
          البيانات العميل ين لنفس المعايير التي تخضع لها شركة قيد لتقنية المعلومات ومنصة قيد لحماية معلومات العميل ين.
        </p>
        <p>5. لن تكون على منصة قيد أو شركة قيد لتقنية المعلومات المالكة له، أية مسؤولية عن الإفصاح الخاطئ لمعلومات
          العميل
          المخزنة لديها، بسبب خطأ من أي طرف أو من أعمال غير مصرحة أو غير مشروعة لأطراف ثالثة، ولا تقبل أي ضمان أو خسائر
          أو
          أضرار قد تنشأ عن ذلك. </p>
        <p>6. تحرص شركة قيد لتقنية المعلومات على أن تكون منصة قيد خالية من الفيروسات وبرامج التجسس أو برامج الكوكيز
          الضارة أو
          أي محتوى ضار أخر بجهود معقولة ومناسبة، ولكن لا تضمن منصة قيد أو شركة قيد لتقنية المعلومات ولا يتحملان
          المسؤولية عن
          أية أضرار قد تصيب جوال العميل أو أي جهاز أخر يستخدم عليه المنصة من فيروسات أو اختراقات أو تجسس قد تؤدي إلى
          سرقة
          بيانات العميل أو معلومات بطاقة الائتمان الخاصة به، فيكون العميل مسؤول وحده عن حماية جهازه. </p>
        <h2>البند الثاني عشر: الامتثال والمراقبة: </h2>
        <p>1. تلتزم منصة قيد بجميع الأنظمة واللوائح المعمول بها في المملكة العربية السعودية المتعلقة بحماية البيانات،
          بما في
          ذلك أي تشريعات جديدة قد تصدر، وسيتم تنفيذ جميع الإجراءات والسياسات لضمان الامتثال لمتطلبات النظامية وتطبيق
          أفضل
          الممارسات في حماية البيانات الشخصية.</p>
        <p>2. تجري منصة قيد عمليات تدقيق داخلية منتظمة لضمان الالتزام بهذه السياسة وجميع متطلبات حماية البيانات، ويشمل
          التدقيق
          ومراجعة جميع العمليات والإجراءات وتقييم فعالية التدابير الأمنية وتحديد أي خلل يحتاج إلى تحسين أو معالجة.</p>
        <h2> البند الثالث عشر: التغيرات التي تطرأ على سياسة الخصوصية </h2>
        <p>تمتلك منصة قيد وشركة قيد لتقنية المعلومات الحق في تعديل تغيير أو تحديث سياسة الخصوصية، وبما لا يتعارض مع ما
          جاء في
          نظام حماية البيانات الشخصية؛ وعندما نقوم بذلك سنقوم بإرسال رسالة على البريد الإلكتروني وسيطلب منك الموافقة على
          هذه
          التعديلات في حينها، حتى تتمكن من الاستمرار في استخدام المنصة، كما أن المنصة لن تقوم بمعالجة البيانات الشخصية
          دون
          الحصول على موافقتك على هذه التعديلات؛ لذا نوصي العملاء على مراجعة سياسة الخصوصية بشكل متكرر للاطلاع على أي
          تغييرات
          ليكونوا على علم وبينة بما نقوم به في سبيل حماية البيانات الشخصية التي نقوم بجمعها. كما أن يقر ويوافق العميل
          على
          مسؤوليته في مراجعة سياسة الخصوصية هذه بشكل دوري وإدراكه للتعديلات. </p>
        <h2>البند الرابع عشر: القانون الواجب التطبيق والاختصاص القضائي </h2>
        <p>تخضع سياسة أمان البيانات والخصوصية في تفسيرها وتنفيذها وكافة جوانبها للأحكام المعمول بها في المملكة العربية
          السعودية، وعند نشوء أي نزاع بين الطرفين متعلق بهذه المنصة بمحاولة حله وديًا من عبر التفاوض خلال (30) يوم. إذا
          لم يتم
          التوصل إلى حل، يمكن اللجوء إلى المحكمة المختصة بمدينة الرياض في المملكة العربية السعودية. وعند وجود أي اختلاف
          أو
          تعارض في هذه النسخة عن النسخة الإنجليزية أو أي نسخة تترجم لها المنصة فإن النسخة العربية هي المعتمدة والحاسمة. 
        </p>

        <h2>البند الخامس عشر: التواصل </h2>
        <p>إذا كانت لديك أي أسئلة أو استفسارات حول سياسة أمان البيانات والخصوصية كيفية التعامل مع بياناتك، يمكنك التواصل
          معنا
          عبر التفاصيل المتاحة في قسم "معلومات التواصل" على المنصة. </p>


      </div>
    </div>
    <div class="col-md-3">
      <div class=" links bg-white p-5 rounded-5">
        <ul class="list-group p-0">
          <li class="my-3 pb-3 border-bottom-1 border-bottom"> <a routerLinkActive="active"
              routerLink="/visitor/terms-policy">الشروط
              والاحكام لمنصة
              قيد</a></li>
          <li class="my-3 pb-3 border-bottom-1 border-bottom"> <a routerLinkActive="active"
              routerLink="/visitor/privacy-policy">سياسة
              الخصوصية</a></li>
          <li class="my-3 pb-3 border-bottom-1 border-bottom"><a routerLinkActive="active"
              routerLink="/visitor/cancel-policy">سياسة الالغاء</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>