
.main {
    padding: 35px;
    span {
        margin-bottom:15px;
    }
      
      .content {
        box-shadow: 0 10px 60px rgba(226, 236, 249, 0.5);
        padding: 20px;
        background-color: #FFF;
        margin-top: 20px;
        h5 {
          margin: 15px auto;
        }
  
       
      }
    }