:host {
    font-family: "Expo Arabic";
    background-image: url(../../../../assets/imgs/about/frame2.svg), linear-gradient(288deg, rgba(219, 233, 233, 0.40) -14.96%, rgba(248, 248, 249, 0.40) 94.25%);
    background-repeat: no-repeat;
}