.package-head {
    border-radius: 16px;
    background: linear-gradient(240deg, #212E51 56.66%, #106F6E 109.79%);
    padding: 48px 48px 69px 30px;

    color: #fff;

}

.swiper {
    height: auto !important;
}

swiper-slide {
    height: auto !important;
    cursor: pointer;
    margin: 20px 0 !important;
}