<div class="table-responsive">
  <table class="table ">
    <thead>
      <tr>
        <th *ngFor="let header of tableHeaders">{{ header }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of tableData">
        <td *ngFor="let column of displayedColumns">
          <ng-container *ngIf="column === 'imagePath'">
            <img [src]="row[column]" alt="Image" width="50" height="50">
          </ng-container>
          <ng-container *ngIf="column === 'action'">
            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                </svg>
              </button>
              <ul class="dropdown-menu">
                <li *ngFor="let action of tableAction">
                  <a class="dropdown-item d-flex align-items justify-content-between"
                  role="button"  (click)="handleFn(action.name)"
                  [ngStyle]="{'color': action.color ? action.color  : 'black'}">
                    <span>{{action.name}}</span>
                    <img *ngIf="action.icon" [src]="'assets/imgs/icons/'+action.icon+'.svg'" alt="icon">
                  </a>
                </li>
              </ul>
            </div>
          </ng-container>
          <ng-container *ngIf="column !== 'imagePath' && column !== 'action' ">
            {{ row[column] }}
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
