.modal-header .btn-close {
  margin: 0;
}
.modal-header {
  justify-content: space-between;
  padding:1rem 2rem;

}
  .modal-title {
    color:#18181B;
    font-size: 20px;
    font-weight: 700;
  }
  .modal-body {
    padding:0rem 2rem 2rem;
  }
  .btnClose {
    border:1px solid #686868  !important
  }

