body {
  font-family: Arial, sans-serif;
  direction: rtl;
  /* Right-to-left text direction */
  text-align: right;
  padding: 20px;
}

h1,
h2 {
  color: #333;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 10px;
}
