<div class="container" dir="rtl">

    <h1 class="pt-7">1.سياسة مستوى الخدمة </h1>
    <p>تُبرم هذه السياسة بين شركة قيد لتقنية المعلومات (ويشار إليها فيما بعد بـ "مزود الخدمة") العميل (ويشار إليه فيما
        بعد بـ"العميل"). تهدف هذه السياسة إلى تحديد التوقعات المتبادلة فيما يتعلق بتوافر الخدمات، أوقات الاستجابة، وطرق
        التعامل مع المشكلات لضمان رضا العملاء والحفاظ على جودة الخدمة.</p>
    <h2>2. نطاق السياسة</h2>
    <p>تشمل هذه السياسة جميع الخدمات المقدمة من قبل مزود الخدمة إلى العميل، بما في ذلك الخدمات الحالية وأي خدمات إضافية
        قد يتم تقديمها في المستقبل. تعتبر هذه السياسة جزءًا لا يتجزأ من أي عقود أو اتفاقيات اشتراك بين الطرفين.</p>
    <h2>3. التعريفات</h2>
    <p>يقصد بالكلمات والعبارات الآتية أينما وردت في هذه السياسة المعاني المبينة أمام كل منها ما لم يقتضِ السياق غير ذلك:
    </p>
    <p>المنصة: يقصد بها تطبيق أو موقع قيد المملوك لشركة قيد لتقنية المعلومات والتي تقدم خدمات متضمنة باقات الاشتراك
        الشهرية و السنوية .</p>


    <p>العميل: أي شخص طبيعي أو اعتباري يقوم بالدخول على المنصة أو يستخدم المنصة ويستفيد من الخدمات التي تقدمها. </p>
    <p>مزود الخدمة: يقصد به الشركة أو الكيان المسؤول عن تقديم الخدمات عبر المنصة، والذي يدير ويدعم منصة قيد والخدمات
        المقدمة من خلالها. كما يشمل مصطلح "مزود الخدمة" الأطراف الأخرى التي تتعاون مع الشركة لتقديم خدمات أو دعم إضافي.
    </p>
    <p>البيانات الشخصية: بقصد بها أي معلومات تتعلق بالشخص الطبيعي أو الاعتباري والتي يتم جمعها أو معالجتها أو استخدامها
        عبر المنصة لغرض تقديم الخدمات. </p>
    <p>المحتوى: يشمل مصطلح "المحتوى" جميع النصوص، الصور، الرسوم البيانية، الفيديوهات، الملفات الصوتية، والمعلومات الأخرى
        التي ينشرها أو يشاركها العميل عبر المنصة أو يتفاعل معها. </p>
    <p>الملكية الفكرية: ما يترتب عليها من علامات التجارية وأسماء التجارية وحقوق الشهرة التجارية والأسرار التجارية
        والمعلومات السرية وأي شكل آخر من أشكال الحقوق الفكرية، بما في ذلك الحقوق المتصلة بالمنصة أو الشركة وسائر ما
        يتفرع عنها أو يتصل لها من برمجيات وتطبيقات. </p>
    <p> الصيانة الطارئة (Emergency Maintenance): أعمال الصيانة التي يتعين إجراؤها فورًا لمنع حدوث مشكلات كبيرة أو فقدان
        البيانات.</p>
    <p> البيانات الحساسة (Sensitive Data) أي بيانات شخصية أو مالية تتطلب حماية خاصة بموجب القوانين المعمول بها.</p>
    <p>زمن التشغيل (Uptime): النسبة المئوية من الوقت الذي تكون فيه الخدمات متاحة للعميل، مستثناة فترات الصيانة المجدولة
        والطوارئ.</p>
    <p>القوة القاهرة: كل فعل لا شأن لإرادة المتعاقدين فيه، ولا يمكن توقعه أو منعه، يجعل تنفيذ الاتفاقية مستحيلاً استحالة
        تعفي الأطراف من المسؤولية العقدية والتقصيرية. </p>
    <p>يوم عمل: جميع أيام الأسبوع عدا الجمعة والسبت والإجازات الرسمية في المملكة العربية السعودية.</p>
    <p>الخدمات: يقصد بها الخدمات سواء واحدة أو جميع الخدمات التي يقدمها مزود الخدمة ويشملها الاشتراك الخاص بالعميل.</p>
    <p>الظروف الطارئة: حوادث استثنائية عامة خارجة عن إرادة المتعاقدين، لا يمكن توقعها وقت إنشاء الاتفاقية وتطرأ عند
        تنفيذه فتجعل تنفيذه مرهقاً لا مستحيلاً، وتهدد بخسارة فادحة لأحد أطراف الاتفاقية أو كلامهما.</p>
    <h2>4. الخدمة المقدمة: </h2>
    <p>يقوم مزود الخدمة بتقديم الخدمات وفقاً لنوع الاشتراك للعميل ومنها على سبيل المثال:</p>
    <p>• الأعمال الإدارية:</p>
    <p>1. إدارة تجربة العميل: التواصل الفعّال بين المكتب والعملاء يرفع الثقة وينمّي الأعمال، في "قيد" عملنا على بوابة
        خاصة لدخول العميل للوصول إلى الخدمات القانونية بسهولة، مع نظام مراسلات يضمن تبادل الرسائل بكل يسر وسهولة ،
        وإمكانية مشاركة الوثائق أو المستندات إضافةً إلى نظام فوترة للخدمات.</p>
    <p>2. إدارة المهام: طوّع الوقت لصالحك وزد كفاءة الأداء لفريقك بتعيين مهامهم عبر المنصة، ستُرسل لهم تلقائياً إشعارات
        تذكيرية بالمهام والمواعيد المستقبلية، لتتابع تقدّم العمل وإنجاز المهام من لوحة تحكمك.</p>
    <p>3. إدارة المدفوعات: بعد اختيارك للباقة التي تناسب احتياجاتك، سهّلنا لك الدفع بطرق فوترة متنوعة مثل: مدى، فيزا،
        أبل باي، لتتمكن بسرعة من فتح حسابك والاستفادة من خدمات المنصة بشكل فوري.</p>
    <p>4. إدارة المكتب: مكتبك الرقمي معك في كل مكان، بإمكانك إدارة قضاياك ومواعيدك ومستنداتك كلها من لوحة تحكم واحدة في
        أي وقت.</p>
    <p>5. إدارة الموظفين: يمكنك تسجيل موظفيك حسب عدد المستخدمين لديك، وتكليفهم بالأعمال القانونية من خلال المنصة بطريقة
        منظّمة مما يمكنك من متابعة أدائهم.</p>
    <p>6. إدارة الفروع: لزيادة التنظيم الإداري لمكتبك ذي الفروع المتعددة، بإمكانك تخصيص لوحة تحكم خاصة بكل فرع لإدارته
        بشكل مستقل عن غيره من الفروع.</p>
    <h3>• الأعمال القانونية:</h3>
    <p>1. إدارة القضايا: تسجيل القضايا من أهم الأعمال القانونية وأكثرها تشتيتاً، نحن نجمعها لك في لوحة تحكم واحدة ونقيّد
        كل قضية بكل تفاصيلها، مع إمكانية تحديثها بسهولة، كما نجدول الجلسات القضائية والاجتماعات المرتبطة بكل قضية بطريقة
        منظمة ونذكّرك بتنبيه قبل كل موعد، لتركّز على متابعة تقدّمك.</p>
    <p>2. إدارة الجلسات: الأولوية القانونية للجلسات القضائية تتطلب وجود إجراءات تنظّم مواعيدها وتذكّر الموظفين
        المُكّلفين بتفاصيلها ومتطلباتها المرتبطة بالقضايا للسعي على مصالح العملاء. مما يقلل من تحديات الانشغال والنسيان
        وما يترتب عليه من ضعف الاستعداد للجلسة.</p>
    <p>3. إدارة العقود: بملفات رقمية منظّمة، نظّم عقود موظفي مكتبك وعقود عملائك القائمين وشركاء مكتبك في مكان واحد،
        بأدوات تخزينية متقدّمة وآمنة، سهلة الاستخدام، وسريعة الوصول.</p>
    <p>4. إدارة الوكالات: ننظم الوكالات التي تم تفويضها لك من العملاء، حسب نوعها العام، أو الخاص بقضية معينة، مع تاريخ
        البداية والنهاية بسهولة في البحث والوصول.</p>
    <p>5. إدارة الوثائق: خاصية فريدة من نوعها تمنحها المنصة لحفظ الوثائق المهمة التي قد تفقد بعضها بسبب ضياع أو تَلف، في
        "قيد" نوفر لك مساحة كافية وآمنة لوثائق ومستندات عملائك بخصوصية وسرية تامة في خوادم تخزين خاصة داخل السعودية، مع
        إمكانية تصنيفها وترتيبها للوصول السريع عبر أدوات تقنية متقدمة.</p>
    <p>6. المكتبة القانونية: لتكون مطّلعاً على مستجدّات المجتمع القانوني المحلي والعالمي، خصصّنا لك مكتبة قانونية شاملة
        للأنظمة واللوائح المحلية والقوانين الدولية والأبحاث القانونية المتداولة في القطاعات المختلفة.</p>
    <p>7. مع عدم الاخلال بما ورد من خدمات فيحق للمصة تعديل أو إلغاء أو إضافة أي من تلك الخدمات على أن تشعر العميل بذلك.
    </p>

    <h2>5. مستوى توافر الخدمة: </h2>
    <p> - يلتزم مزود الخدمة بضمان توافر الخدمات بنسبة 99.9% على مدار الشهر التقويمي، مع استثناء فترات الصيانة المجدولة
        والطوارئ والكوارث الطبيعية.</p>
    <p> - في حال عدم تحقيق نسبة التوافر المتفق عليها، يلتزم مزود الخدمة بتقديم تعويض مناسب للعميل، يتمثل في تمديد مدة
        الاشتراك أو تقديم رصيد خدمة إضافي.</p>
    <h2>6. الصيانة والدعم</h2>
    <p> - إخطار الصيانة: يلتزم مزود الخدمة بإخطار العميل بالصيانة المجدولة قبل 48 ساعة على الأقل. تُجرى الصيانة في أوقات
        محددة لتقليل تأثيرها على الخدمات.</p>
    <p> - الصيانة الطارئة: في حال حدوث صيانة طارئة، يلتزم مزود الخدمة بإخطار العميل فورًا، والعمل على تقليل فترة التوقف
        وضمان استعادة الخدمة بأسرع وقت ممكن.</p>
    <p>- أوقات الاستجابة: ويتم تصنيف المشكلات إلى مستويات وأولويات مختلفة وحلها يعتمد على طبيعة المشكلة وهي كالتالي:</p>
    <p> - المشكلات الحرجة: الاستجابة خلال ساعة واحدة، والحل تقديريا من 4 ساعات الى 8 ساعات.</p>
    <p> - المشكلات العالية: الاستجابة خلال ساعتين، والحل تقديريا من 8 ساعات الى 24 ساعة.</p>
    <p> - المشكلات المتوسطة: الاستجابة خلال 4 ساعات، والحل تقديريا من 24 ساعة الى 72 ساعة.</p>
    <p> - المشكلات المنخفضة: الاستجابة خلال 8 ساعات، والحل تقديريا من 72 فأكثر حسب طبيعة المشكلة.</p>
    <h2>7. أمن البيانات والسرية:</h2>
    <p> - التدابير الأمنية: يلتزم مزود الخدمة بتطبيق تدابير أمنية صارمة تشمل تشفير البيانات أثناء النقل والتخزين،
        والتحكم في الوصول، وإجراء تدقيقات أمنية دورية.</p>
    <p>- الامتثال: يتعهد مزود الخدمة بالامتثال لجميع اللوائح المعمول بها في حماية البيانات، بما في ذلك اللائحة العامة
        لحماية البيانات وأي قوانين محلية ذات صلة مثل الالتزامات والقوانين مع الهيئة السعودية للبيانات والذكاء الاصطناعي”
        (SDAIA) والتي تخضع إلى المركز الوطني لإدارة البيانات (NDMC)</p>
    <h2>8. مسؤوليات العميل: </h2>
    <p> التزامات العميل: يتعهد العميل بتقديم معلومات دقيقة وحديثة، والإبلاغ عن أي مشكلات فور حدوثها، والالتزام بالشروط
        والأحكام العامة للاستخدام.</p>
    <p> الدعم الذاتي: يمكن للعميل حل المشكلات البسيطة باستخدام موارد الدعم الذاتي المقدمة من مزود الخدمة او التواصل مع
        فريق الدعم ان لزم ذلك. </p>
    <h2>9. رسوم الخدمة وشروط الدفع:</h2>
    <p> - الفوترة: يتم إصدار الفواتير بشكل شهري، ويستحق الدفع خلال ٧ ايام من تاريخ الفاتورة.</p>
    <p> - التأخر في الدفع: في حال التأخر عن السداد، يحتفظ مزود الخدمة بالحق في فرض غرامات تأخير أو تعليق الخدمات حتى
        استلام الدفعة.</p>
    <p>- وسائل الدفع: يكون الدفع من خلال أي من الطرق المعتمدة لدى منصة قيد والمبينة في صفحة السداد.</p>
    <h2>10. المدة والالغاء:</h2>
    <p> - مدة السياسة: تستمر السياسة لمدة غير محددة ما لم يتم إنهاؤها من قبل أحد الطرفين وفقًا للشروط التالية.</p>
    <p> - شروط الالغاء: يمكن لأي طرف الغاء السياسة بإشعار مسبق اما عن طريق ارسال بريد الكتروني او عن طريق تنبيه من خلال
        المنصة او بالضغط على زر الإلغاء من على المنصة.</p>
    <p> - إجراءات بعد الالغاء: بعد الالغاء، يلتزم مزود الخدمة بإيقاف الخدمات وحذف جميع بيانات العميل بشكل آمن وفقًا
        لسياسة الخصوصية.</p>
    <h2>11. تحديد المسؤولية:</h2>
    <p> حدود المسؤولية: لا يتحمل مزود الخدمة أي مسؤولية بسبب خلل فني أو تقني أو خطأ من العميل تسبب في فقدان البيانات أو
        تأخير في تنفيذ أي التزام من التزاماته في حال قام ببذل للعناية اللازمة من دون تعدي أو تفريط منه، ويقتصر التعويض
        على المبالغ المدفوعة من قبل العميل في الأشهر الـ 12 السابقة للحادثة.</p>
    <p> القوة القاهرة: يُعفى مزود الخدمة من المسؤولية في حالات القوة القاهرة أو الظروف الطارئة، مثل الكوارث الطبيعية،
        الحروب، أو أي أحداث خارجة عن السيطرة.</p>
    <h2>12. حل النزاعات: </h2>
    <p> التفاوض والوساطة: في حال حدوث أي نزاع، يلتزم الطرفان بمحاولة حله وديًا من عبر التفاوض خلال (30) يوم. إذا لم يتم
        التوصل إلى حل، يمكن اللجوء إلى المحكمة المختصة في مدينة الرياض.</p>
    <p>القانون المعمول به: تخضع هذه السياسة وتفسر وفقًا لقوانين المملكة العربية السعودية.</p>
    <h2>13. تحديث السياسة</h2>
    <p>التحديثات الدورية: تحتفظ شركة قيد بالحق في تعديل أو تحديث هذه السياسة من وقت لآخر. سيتم إخطار العميل بأي تغييرات
        جوهرية، ويعتبر استمرار استخدام الخدمة بعد هذه التعديلات قبولًا للشروط المعدلة.</p>
    <div class="modal-footer">
        <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">إغلاق</button>
    </div>

</div>