<div class="container" dir="rtl">
    <h1>سياسة الإلغاء والاسترجاع</h1>
    <div class="row mb-7">
        <div class="col-md-9">
            <div class="bootstrap p-10 rounded-4">
                <h2>1. التعريفات:</h2>

                <p>الشركة: يقصد بها شركة "قيد لتقنية المعلومات" والـتـي تقدم خدمات رقمية للقانونيين.</p>
                <p>العميل: أي فرد أو كيان يستخدم خدمات الشركة استخداماً شخصياً.</p>
                <p>الاشتراك: الاشتراك الذي يمكن المستخدم من الاستفادة من خدمات الشركة سواء كانت عن طريق الاشتراك/الباقات
                    الشهرية أو
                    السنوية.</p>
                <p>الإلغاء الأول: أول مرة يقوم فيها المستخدم بإلغاء الاشتراك.</p>
                <p>الإلغاء الثاني: أي عملية إلغاء تالية بعد الإلغاء الأول.</p>
                <h2>2. شروط وآلية الإلغاء:</h2>
                <p>• حق الإلغاء: يحق للعميل إلغاء اشتراكه في أي وقت خلال فترة الاشتراك عن طريق إتباع خطوات الإلغاء في
                    .... (على سبيل
                    المثال: إدارة الحساب أو الاشتراكات).</p>
                <p>• إجراءات الإلغاء:</p>
                <ul>
                    <li>- يجب على العميل تقديم طلب إلغاء عبر البريد الإلكتروني أو عبر منصة الشركة الإلكترونية.</li>
                    <li>- بعد إتمام عملية الإلغاء، ستتلقى تأكيدًا عبر البريد الإلكتروني يحتوي على تفاصيل الإلغاء وتاريخ
                        انتهاء
                        الاشتراك.
                    </li>
                    <li>- يحق للعميل تقديم طلب استرجاع خلال (24 ساعة) فقط من تاريخ تفعيل الاشتراك، أو الاستبدال بباقة
                        اشتراك أخرى
                        خلال
                        (اذا كانت ترقية تتم في أي وقت وتحسب له من أول يوم واذا كانت ترقية الباقة أقل تحسب له من أول يوم)
                        من تاريخ
                        تفعيل
                        الاشتراك.</li>
                    <li>- يجوز للمنصة قبول أو عدم قبول أو إلغاء الطلب في بعض الحالات ومنها على سبيل المثال في حال تم
                        تسعير الاشتراك
                        بطريقة خاطئة أو في حال تبين أن طلب الاشتراك احتيالي.</li>
                    <li>- تتم معالجة طلب الاسترجاع أو الالغاء أو الاستبدال في غضون (24 ساعة) بمجرد تلقي تأكيد طلب
                        الإلغاء أو
                        الاسترجاع
                        عبر البريد الإلكتروني أو عبر منصة الشركة الإلكترونية. </li>
                    <li>- يكون استرداد المبلغ في حالة الاسترجاع المقبولة من الشركة والتي يطلبها العميل بناءً على وجود
                        مشاكل تقنية أو
                        فنية إلى محفظة العميل في المنصة أو حساب الدفع الأصلي.</li>
                    <li>- تستغرق عملية ارجاع المبالغ عن طريق الحوالات البنكية ، مدة تتراوح بين ( 5 ايام الى 10 ايام )
                        عمل ، وقد تمتد
                        المدة الى 30 يوم عمل ، في الحالات الى تستوجب مراجعة اضافية خرى ، وذلك بحسب بنك العميل.</li>
                    <li>- تستغرق عملية إرجاع المبالغ عن طريق المدفوعات الرقمية ، من خلال بطاقات الائتمان (مدى ، فيزا ،
                        ماستر كارد )
                        مدة
                        تتراوح بين ( 7 ايام الى 10 ايام ) عمل ، وقد تمتد المدة الى 30 يوم عمل في الحالات التي تستوجب
                        مراجعة اضافية
                        اخرى
                        ، وذلك بحسب بنك العميل. </li>

                </ul>

                <h2>3. حالات الإلغاء:</h2>
                <p>• الإلغاء خلال فترة التجربة: يمكن للعميل إلغاء اشتراكه في أي وقت قبل انتهاء فترة التجربة دون تحمل أي
                    تكاليف.</p>
                <p>• الإلغاء خلال فترة الاشتراك: إذا قام العميل بإلغاء اشتراكه في منتصف فترة الاشتراك المدفوعة، سيستمر
                    الوصول إلى
                    خدماتنا حتى نهاية فترة الاشتراك الحالية، ولن يتم استرداد المبالغ المدفوعة عن الفترة المتبقية من
                    الاشتراك.</p>

                <p>• الإلغاء بسبب المشاكل الفنية والتقنية: في حال مواجهة العميل لمشاكل فنية تحول دون استخدام
                    الخدمة/المنتج/التطبيق
                    كما
                    هو متوقع، يحق للعميل طلب إلغاء الاشتراك واسترداد المبلغ المدفوع بشكل جزئي أو كامل، حسب الحالة وذلك
                    بعد التواصل
                    مع
                    فريق الدعم الفني للشركة للتحقق من وجود مشكلة تقنية/ فنية وفي حال عدم حل المشكلة خلال .... يوم يحق
                    للعميل استرداد
                    رسوم الاشتراك بشكل جزئي أو كامل.</p>
                <p>• عدم الالتزام بشروط الخدمة أو انتهاك السياسات المعمول بها: يحق للشركة إلغاء الاشتراك تلقائياً في حال
                    انتهاك
                    العميل
                    للشروط والسياسات الخاصة بالاستخدام وتقوم الشركة بإبلاغ العميل بالإلغاء عبر البريد الالكتروني أو عبر
                    منصة الشركة
                    الإلكترونية مع توضيح أسباب الإلغاء.</p>
                <h2>4. إعادة تفعيل الحساب/الاشتراك:</h2>
                <p>يمكن للمستخدم إعادة تفعيل حسابه/اشتراكه خلال مدة لا تتجاوز سنة عن طريق.............. (مثال: تسجيل
                    الدخول واختيار
                    خطة
                    الاشتراك المناسبة) وسيتم تحصيل الرسوم فور إعادة التفعيل، وستبدأ فترة اشتراك جديدة.</p>

                <h2>5. استرداد الأموال:</h2>
                <p>• استرداد الأموال: في حال إلغاء الاشتراك بسبب المشاكل الفنية والتقنية، يحق للعميل استرداد المبلغ
                    المتبقي من
                    الاشتراك،
                    سواء كان شهريًا أو سنويًا، بحسب الأيام المتبقية في الاشتراك.</p>
                <p>• حساب المبلغ المسترد: يتم حساب المبلغ المسترد بناءً على المدة المتبقية من الاشتراك المحسوبة بالأيام.
                </p>
                <h2>6. فترة السماح:</h2>
                • الإلغاء الأول: إذا كانت هذه هي المرة الأولى التي يلغي فيها المستخدم اشتراكه، تمنحه الشركة فترة سماح
                مجانية تساوي
                مدة
                الاشتراك المتبقية.

                <p>• الإلغاء الثاني وما بعده: إذا قام العميل بإلغاء الاشتراك مرة ثانية أو أكثر، فلا يحق له الحصول على
                    فترة سماح
                    مجانية.
                </p>
                <h2>7. استثناءات وشروط إضافية</h2>
                <p>• التعديلات على السياسة: تحتفظ الشركة بحق تعديل سياسة الإلغاء في أي وقت، على أن يتم إبلاغ العملاء بأي
                    تغييرات عبر
                    البريد الإلكتروني أو عبر منصة الشركة الإلكترونية.</p>
                <p>• استثناءات خاصة: في حالات خاصة، قد تتطلب الشركة التحقق من السبب وراء الإلغاء قبل تنفيذ أي عملية
                    استرداد أو منح
                    فترة
                    سماح.</p>
                <p>• مراجعة سياسة الإلغاء: يُنصح العميل بمراجعة هذه السياسة بانتظام لضمان الإلمام بأحدث الشروط أو
                    التغييرات.</p>


            </div>
        </div>
        <div class="col-md-3">
            <div class=" links bg-white p-5 rounded-5">
                <ul class="list-group p-0">
                    <li class="my-3 pb-3 border-bottom-1 border-bottom"> <a routerLinkActive="active"
                            routerLink="/visitor/terms-policy">الشروط
                            والاحكام لمنصة
                            قيد</a></li>
                    <li class="my-3 pb-3 border-bottom-1 border-bottom"> <a routerLinkActive="active"
                            routerLink="/visitor/privacy-policy">سياسة
                            الخصوصية</a></li>
                    <li class="my-3 pb-3 border-bottom-1 border-bottom"><a routerLinkActive="active"
                            routerLink="/visitor/cancel-policy">سياسة الالغاء</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>