.dropdown-menu {
    text-align: initial !important;
}

.dropdown-menu li {
    cursor: pointer;
}

th {
    background-color: #fff !important;
    border-bottom: 1px solid #ccc;
    font-weight: bold;

}

.btn-status {

    padding: 4px 10px !important;
}

i {
    margin-right: 5px;
    // color: #fff;
}

button {
    border-radius: 2px;
    background: #F4F5F8;
    border: none;
    padding: 8px;
    color: #71717A;
}

.addBillBtn {
    border-radius: 6px;
    border: 1px solid #64748B;
    background: #048081;
    color: #fff;

}