.table {
    font-size: 14px;
}

th {
    font-weight: bold;
    background-color: #fff !important;
    border-bottom: 1px solid #ccc;
}

a {
    font-size: 14px;
}

.text-primary i {
    margin-left: 5px;
}

.text-primary {
    font-weight: 500;
}