<section class="user-management">
  <!-- begin::Header -->
  <div class="page-title">
    <div class="d-flex justify-content-between align-items-center">
      <h3 *ngIf="!issueId">
        <span>{{ "addIssue.Add" | translate }} </span>

        {{ "attorny.attorny" | translate }}
      </h3>
      <h3 *ngIf="issueId">
        <span>{{ "addIssue.edit" | translate }} </span>
        {{ "attorny.attorny" | translate }}
      </h3>

    </div>
    <app-breadcrumb></app-breadcrumb>

  </div>
  <div class="content">
    <article>
      <div class="btns-tab">
        <button [ngClass]="{ active: tabNum === 1 }">
          <span class="step">1</span>
          <span> {{ "attorny.attornyDetail" | translate }}</span>
        </button>

        <button [ngClass]="{ active: tabNum === 2 }">
          <span class="step">2</span>
          <span> {{ "addIssue.attachments" | translate }} </span>
        </button>
        <button [ngClass]="{ active: tabNum === 3 }">
          <span class="step">3</span>
          <span> {{ "attorny.ApplicationReview" | translate }} </span>
        </button>
      </div>
      <div class="tabs-content">
        <div *ngIf="tabNum === 1">
          <app-attorny-info (bindValue)="getId($event)"></app-attorny-info>
        </div>
        <div *ngIf="tabNum === 2">
          <app-attchment (bindValue)="stepThree($event)"></app-attchment>
        </div>
        <div *ngIf="tabNum === 3">
          <app-review (bindValue)="stepReview($event)" [id]="issueId"></app-review>
        </div>
      </div>
    </article>
  </div>
</section>