<section class="user-management">
  <!-- begin::Header -->
  <div class="page-title">
    <div class="d-flex justify-content-between align-items-center">
      <h3>
        <span>{{ "editProfile.edit" | translate }} </span>
        {{ "editProfile.profile" | translate }}

      </h3>
    </div>
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="content">
    <app-basic-info></app-basic-info>
  </div>
  <div class="content">
    <app-profile-email></app-profile-email>
  </div>
  <!-- <div class="content">
    <app-vat-info></app-vat-info>
  </div> -->
  <div class="content">
    <app-profile-password></app-profile-password>
  </div>

  <div class="content">
    <!-- <app-deactivate-account></app-deactivate-account> -->
  </div>
</section>