<div class="mx-5 my-5">
    <!-- widget 01 -->
  <button type="button" class="btn btn-primary" (click)="openModal('modal1')">Widget 01</button>
  <app-form-model
    [form]="form"
    [title]="'إنشاء مجلد جديد'"
    [modalId]="'modal1'"
    (formSubmit)="handleFormSubmit($event)"
  >
    <div class="my-2" [formGroup]="form">
      <label for="name">اسم المجلد</label>
      <input id="name" class="form-control mt-2" formControlName="name" type="text" placeholder="اسم المجلد ..." />
      <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">
        <div *ngIf="form.get('name')?.hasError('required')">Name is required.</div>
      </div>
      <label for="email">صلاحيات مشاركة المجلد</label>
      <div class="mt-2 d-flex flex-row justify-content-between">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            عام
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            مشاركة مع اشخاص محددين
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
          <label class="form-check-label" for="flexRadioDefault3">
            أنا فقط
          </label>
        </div>
      </div>
    </div>
  </app-form-model>
  <!-- widget 02 -->
  <button type="button" class="btn btn-primary" (click)="openModal('modal2')">Widget 02</button>
  <app-form-model
    [form]="form2"
    [title]="'إنشاء مجلد جديد 2'"
    [modalId]="'modal2'"
    (formSubmit)="handleFormSubmit($event)"
  >
    <div class="my-2" [formGroup]="form2">
      <label for="name2">اسم المجلد</label>
      <input id="name2" class="form-control mt-2" formControlName="name2" type="text" placeholder="اسم المجلد ..." />
      <div *ngIf="form2.get('name2')?.invalid && form2.get('name2')?.touched" class="text-danger">
        <div *ngIf="form2.get('name2')?.hasError('required')">Name is required.</div>
      </div>
      <label for="email">صلاحيات مشاركة المجلد</label>
      <div class="my-2 d-flex flex-row justify-content-between">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            عام
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            مشاركة مع اشخاص محددين
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
          <label class="form-check-label" for="flexRadioDefault3">
            أنا فقط
          </label>
        </div>
      </div>
      <label for="phone">صلاحيات مشاركة مع</label>
      <select class="form-select form-select-sm" aria-label="Small select example" formControlName="phone">
        <option selected [value]="null">اسم المستخدم</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </app-form-model>

  <!--Table -->
  <app-table-model [tableData]="tableData"
    [tableHeaders]="tableHeaders" [displayedColumns]="displayedColumns"
    [tableAction]="tableAction" (functionSubmit)="functionAction($event)"
    [customTemplates]="{ imagePath: imageTemplate, status: statusTemplate }"
    >
  </app-table-model>
  <!-- image template -->
  <ng-template #imageTemplate  let-row="row">
    <div class="d-flex flex-row align-items-center">

      <img [src]="row.imagePath" alt="Image" class="rounded-circle" width="30" height="30">
      <div class="mx-2">{{ row.name }}</div>
    </div>
  </ng-template>
  <!-- status template-->
<ng-template #statusTemplate let-row="row">
  <span [ngClass]="{'badge bg-success': row.status === 'Active', 'badge bg-danger': row.status !== 'Active'}">
    {{ row.status }}
  </span>
</ng-template>
</div>
