<div class="container my-7">

    <!-- step1  -->
    <section class="my-20">
        <div class="container">
            <h2># {{ 'projectManagement.projectDetails' | translate }}</h2>
            <hr>
            <div class="row mt-10 gy-10">
                <form class="form w-100 my-5 row " novalidate="novalidate" id="kt_login_signin_form">
                    <!-- Project Type Selection -->
                    <div class="col-md-4 d-flex flex-column gap-6">
                        <div class="my-2">
                            <!-- Use flexbox to align the label and asterisk horizontally -->
                            <div class="d-flex align-items-center">
                                <p class="text-dark label mb-0 d-flex align-items-center">
                                    {{ 'projectManagement.projectType' | translate }}
                                </p>
                            </div>
                            <!-- Radio buttons -->
                            <div class="d-flex align-items-center mt-2">
                                <div>
                                    <!-- <input type="radio" id="service" name="projectType" [checked]="isService === true"
                                        disabled /> -->
                                    <label *ngIf="isService" for="service" class="mx-4">{{ 'projectManagement.service' |
                                        translate
                                        }}</label>
                                </div>
                                <div>
                                    <!-- <input type="radio" id="consultation" name="projectType"
                                        [checked]="isService !== true" disabled /> -->
                                    <label *ngIf="!isService" for="consultation" class="mx-3">{{
                                        'projectManagement.consultation' |
                                        translate}}</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Conditional Fields -->
                    <ng-container *ngIf="!isService">
                        <div class="col-md-4">
                            <label for="consultationType" class="text-dark my-3">{{ 'projectManagement.consultationType'
                                |
                                translate }}</label>
                            <select disabled class="form-select">
                                <option disabled selected value="">{{legalAdvice}} </option>
                            </select>
                        </div>
                        <div *ngIf="isOtherLegalAdviceName" class="col-md-4">
                            <label for="consultationName" class="text-dark my-3">{{ 'projectManagement.consultationName'
                                |
                                translate }}</label>
                            <input disabled id="consultationName" class="form-select"
                                [value]="this.projectDetails?.otherLegalAdviceName">

                        </div>
                    </ng-container>

                    <ng-container *ngIf="isService">
                        <div class="col-md-4">
                            <label for="projectName" class="text-dark my-3">{{ 'projectManagement.projectName' |
                                translate
                                }}</label>
                            <select disabled class="form-select">
                                <option value="" disabled selected> {{projectName}} </option>
                            </select>
                        </div>
                        <div *ngIf="isHaveOtherProjectName" class="col-md-4">
                            <label for="otherProjectName" class="text-dark my-3">{{ 'projectManagement.Other' |
                                translate }}</label>

                            <input id="otherProjectName" [value]="this.projectDetails?.otherProjectName" disabled
                                class="form-select">

                        </div>

                    </ng-container>

                    <!-- Assign Project Manager -->
                    <div class="col-md-5">
                        <label for="projectMgr" class="text-dark my-3">{{ 'projectManagement.assignProjectManager' |
                            translate
                            }}</label>

                        <select disabled id="projectMgr" class="form-select">
                            <option value="this.projectDetails?.projectManagerName" disabled selected>
                                {{this.projectDetails?.projectManagerName}}</option>
                        </select>
                    </div>


                    <div class="row my-8">
                        <!-- Associated Fields -->
                        <div class="col-lg-5">
                            <div class="my-2">
                                <p class="text-dark label">{{ 'projectManagement.associatedWithBranch' | translate }}
                                </p>
                                <div class="d-flex align-items-center">
                                    <input [(ngModel)]="isHaveLawsuit" [value]="true" type="radio" disabled
                                        id="consultation" name="projectType" />
                                    <label for="yesBranch" class="mx-4">{{ 'projectManagement.yes' | translate
                                        }}</label>
                                    <input [(ngModel)]="isHaveLawsuit" [value]="false" disabled type="radio"
                                        id="noBranch" name="isProjectHaveCase" />
                                    <label for="noBranch" class="mx-3">{{ 'projectManagement.no' | translate }}</label>
                                </div>
                            </div>
                        </div>

                        <!-- ng select -->
                        <div *ngIf="isHaveLawsuit" class="col-lg-6">
                            <label for="name" class="text-dark mb-4">{{
                                'projectManagement.chooseCaseAssociatedWithProject'|translate}}</label>
                            <select disabled class="form-select">
                                <option>{{this.projectDetails?.lawsuitName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row my-8">
                        <div class="col-lg-5">
                            <div class="my-2">
                                <p class="text-dark label">{{ 'projectManagement.contractManaged' | translate }}</p>
                                <div class="d-flex align-items-center">
                                    <input [(ngModel)]="isHaveContract" [value]="true" disabled type="radio"
                                        id="yesContract" name="isProjectHaveContract" />
                                    <label for="yesContract" class="mx-4">{{ 'projectManagement.yes' | translate
                                        }}</label>
                                    <input [(ngModel)]="isHaveContract" [value]="false" disabled type="radio"
                                        id="noContract" name="isProjectHaveContract" />
                                    <label for="noContract" class="mx-3">{{ 'projectManagement.no' | translate
                                        }}</label>
                                </div>
                            </div>
                        </div>
                        <!-- ng select -->
                        <div *ngIf="isHaveContract" class="col-lg-6">
                            <label for="name" class="text-dark mb-4">{{ 'projectManagement.selectAssociatedContract'|
                                translate}}</label>
                            <select disabled class="form-select">
                                <option>{{this.projectDetails?.contractName}}</option>
                            </select>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!-- end of the step1 -->

    <!-- step2 -->
    <section>
        <div class="container my-20">
            <!-- Select Client Section -->
            <h2># {{ 'projectManagement.potentialClient' | translate }}</h2>
            <hr>

            <div class="row my-5">

                <!-- <div class="col-lg-4 my-5">
                    <label for="clientDropdown" class="form-label">
                        {{ 'projectManagement.selectClient' | translate }}
                    </label>
                    <select disabled class="form-select">
                        <option>{{this.projectDetails?.clientName}}</option>
                    </select>
                </div> -->
                <div class="col-md-12">

                    <!-- begin::Table container -->
                    <div class="table-responsive">
                        <!-- begin::Table -->
                        <table class="table  text-center">
                            <!-- begin::Table head -->
                            <thead>
                                <tr class="text-center bg-light">
                                    <!-- <th class="">#</th> -->
                                    <th class="min-w-125px">
                                        {{ "client.clientType" | translate }}
                                    </th>
                                    <th class="min-w-125px">
                                        {{ "client.clientName" | translate }}
                                    </th>

                                    <th class="min-w-125px">
                                        {{ "client.clientEmail" | translate }}
                                    </th>
                                    <th class="min-w-125px">
                                        {{ "client.clientPhone" | translate }}
                                    </th>
                                    <th class="min-w-125px">
                                    </th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngIf="selectedClientData !== null" class="text-center">
                                    <td>
                                        <span
                                            *ngIf="selectedClientData.type === clientTypeEnum.Individual">{{"client.Individual"
                                            |
                                            translate}} </span>
                                        <span
                                            *ngIf="selectedClientData.type === clientTypeEnum.Special">{{"client.Special"
                                            |
                                            translate}} </span>
                                    </td>
                                    <td>{{ selectedClientData.name }}</td>

                                    <td>{{ selectedClientData.email??'-' }}</td>
                                    <td>{{ selectedClientData.countryCode }}{{ selectedClientData.mobileNumber }}</td>
                                    <!-- 
                                    <td class="overflow-hidden">

                                        <button class="px-3  bg-transparent text-danger border-0" (click)="delete()">
                                            <i class="fa-solid fa fa-trash mx-1 text-danger"></i>
                                            {{"employeeManagement.delete" |translate}}
                                        </button>
                                    </td> -->

                                </tr>
                            </tbody>
                        </table>


                        <!-- end::Table -->
                    </div>
                </div>

            </div>
            <!-- Tasks List Section -->
            <div class="row">
                <button disabled class="convert2"
                    style="width: fit-content;">{{'projectManagement.converted'|translate}}

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path
                            d="M6 8.5L7.5 10L10 6.5M14 8C14 8.78793 13.8448 9.56815 13.5433 10.2961C13.2417 11.0241 12.7998 11.6855 12.2426 12.2426C11.6855 12.7998 11.0241 13.2417 10.2961 13.5433C9.56815 13.8448 8.78793 14 8 14C7.21207 14 6.43185 13.8448 5.7039 13.5433C4.97595 13.2417 4.31451 12.7998 3.75736 12.2426C3.20021 11.6855 2.75825 11.0241 2.45672 10.2961C2.15519 9.56815 2 8.78793 2 8C2 6.4087 2.63214 4.88258 3.75736 3.75736C4.88258 2.63214 6.4087 2 8 2C9.5913 2 11.1174 2.63214 12.2426 3.75736C13.3679 4.88258 14 6.4087 14 8Z"
                            fill="#F4F4F5" />
                        <path
                            d="M6 8.5L7.5 10L10 6.5M14 8C14 8.78793 13.8448 9.56815 13.5433 10.2961C13.2417 11.0241 12.7998 11.6855 12.2426 12.2426C11.6855 12.7998 11.0241 13.2417 10.2961 13.5433C9.56815 13.8448 8.78793 14 8 14C7.21207 14 6.43185 13.8448 5.7039 13.5433C4.97595 13.2417 4.31451 12.7998 3.75736 12.2426C3.20021 11.6855 2.75825 11.0241 2.45672 10.2961C2.15519 9.56815 2 8.78793 2 8C2 6.4087 2.63214 4.88258 3.75736 3.75736C4.88258 2.63214 6.4087 2 8 2C9.5913 2 11.1174 2.63214 12.2426 3.75736C13.3679 4.88258 14 6.4087 14 8Z"
                            stroke="#048081" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
                <div class="col-md-12 mt-10">

                    <p class="fw-bold my-5">{{ 'projectManagement.taskList' | translate }}</p>
                    <div class="row">
                        <!-- <div class="col-lg-4 my-5">
                            <label for="clientDropdown" class="form-label">
                                {{ 'projectManagement.selectTask' | translate }}
                            </label>
                            <select disabled class="form-select">
                                <option value=""> {{this.projectDetails?.dutiesId}}</option>
                            </select>
                        </div> -->
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center bg-light">
                                    <th class="min-w-125px">{{ 'projectManagement.taskName' | translate }}</th>
                                    <th class="min-w-125px">{{ 'projectManagement.taskStatus' | translate }}</th>
                                    <th class="min-w-125px">{{ 'projectManagement.startDate' | translate }}</th>
                                    <th class="min-w-125px">{{ 'projectManagement.endDate' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr *ngFor="let duty of selectedDutyDataList">
                                    <td>{{ duty.name }}</td>
                                    <td *ngIf="!duty?.isDraft">
                                        <span *ngIf="duty?.dutyStatus === workDutyStatus.Active"
                                            class="badge new-badge-light-green fs-7 fw-bold">
                                            {{ "workDuty.Active" | translate }}
                                        </span>
                                        <span *ngIf="duty?.dutyStatus === workDutyStatus.Deferred"
                                            class="badge new-badge-light-light-yellow  fs-7 fw-bold">
                                            {{ "workDuty.Deferred" | translate }}
                                        </span>
                                        <span *ngIf="duty?.dutyStatus === workDutyStatus.Finished"
                                            class="badge new-badge-light-red fs-7 fw-bold">
                                            {{ "workDuty.Finished" | translate }}
                                        </span>
                                        <span *ngIf="duty?.dutyStatus === workDutyStatus.Canceled"
                                            class="badge new-badge-light-grey fs-7 fw-bold">
                                            {{ "workDuty.Canceled" | translate }}
                                        </span>
                                        <span *ngIf="duty?.dutyStatus === workDutyStatus.Pending"
                                            class="badge new-badge-light-dark-yellow fs-7 fw-bold">
                                            {{ "workDuty.Pending" | translate }}
                                        </span>
                                    </td>
                                    <td>{{ duty?.startDate ? (duty?.startDate | date: 'dd-MM-yyyy') : '_' }}</td>
                                    <td>{{ duty?.endDate ? (duty?.endDate | date: 'dd-MM-yyyy') : '_' }}</td>

                                    <!-- <td>
                                        <button (click)="deleteDuty(duty.id)" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr> -->
                            </tbody>

                        </table>
                    </div>
                </div>

                <!-- Attachments Section -->
                <!-- <div class="row mt-10">
                    <div class="col-lg-12">
                        <h5>{{ 'projectManagement.attachments' | translate }}</h5>
                        <div class="my-7">
                            <app-project-attachment>
                            </app-project-attachment>
                        </div>
                    </div>

                </div> -->
            </div>


        </div>
    </section>
    <!-- end of the step2 -->

    <!-- step3 -->
    <div class="container my-15">
        <h2 class="my-5"># {{ 'projectManagement.header' | translate }}</h2>
        <hr>
        <!-- Tax Number -->
        <div class="row gy-5">
            <div class="col-lg-4">
                <div class="mb-5">
                    <label for="taxNumber" class="form-label">{{ 'projectManagement.taxNumber' | translate
                        }}</label>
                    <input [value]="this.projectDetails?.taxNumberForAgent" disabled type="text" class="form-control"
                        id="taxNumber" placeholder="{{ 'projectManagement.taxNumberPlaceholder' | translate }}" />
                </div>
            </div>
        </div>

        <!-- Offer Start and End Dates -->
        <div class="row my-3 gy-5">
            <!-- Start Date-->
            <div class="col-md-4 mb-4">
                <label class="form-label">{{ 'projectManagement.offerStartDate' | translate }}</label>
                <!-- <span class="text-danger mx-2 fs-2">*</span> -->
                <div class="iput-sec">
                    <p>{{this.projectDetails?.startDate}}</p>

                </div>

            </div>
            <!-- End Date-->
            <div class="col-md-4 mb-4">
                <label class="form-label">{{ 'projectManagement.offerEndDate' | translate }}</label>

                <!-- <span class="text-danger mx-2 fs-2">*</span> -->
                <div class="iput-sec">
                    <p>{{this.projectDetails?.endDate}}</p>
                </div>

            </div>

        </div>

        <!-- Client Information -->
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="clientName" class="form-label">{{ 'projectManagement.clientName' | translate
                        }}</label>
                    <input [value]="this.projectDetails?.clientName" disabled type="text" class="form-control"
                        id="clientName" readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="clientTaxNumber" class="form-label">{{ 'projectManagement.clientTaxNumber' |
                        translate }}</label>
                    <input [value]="this.projectDetails?.taxNumberForClient" disabled type="text" class="form-control"
                        id="clientTaxNumber"
                        placeholder="{{ 'projectManagement.clientTaxNumberPlaceholder' | translate }}" />
                </div>
            </div>
        </div>

        <!-- National Address -->
        <h5 class="mt-4">{{ 'projectManagement.clientNationalAddress' | translate }}</h5>
        <div class="row">
            <div class="col-md-4 mb-4">
                <label>{{ "register.region" | translate }}</label>


                <select disabled class="form-select" a>
                    <option>{{this.projectDetails?.cityClientName}} </option>

                </select>

            </div>
            <div class="col-md-4 mb-4">
                <label>{{ "register.city" | translate }}</label>

                <select disabled class="form-select" aria-label="Default select example">
                    <option>{{this.projectDetails?.cityClientName}}</option>
                </select>

            </div>

            <div class="col-md-4 mb-4">
                <label for="district" class="form-label">{{ 'projectManagement.district' | translate
                    }}</label>

                <input [value]="this.projectDetails?.district" disabled type="text" class="form-control"
                    id="district" />

            </div>
        </div>

        <div class="row my-15">
            <div class="col-md-6">
                <label for="street" class="form-label">{{ 'projectManagement.street' | translate }}</label>

                <input [value]="this.projectDetails?.street" disabled type="text" class="form-control" id="street" />

            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <label for="buildingNumber" class="form-label">{{ 'projectManagement.buildingNumber' |
                            translate }}</label>


                        <input [value]="this.projectDetails?.buildingNumber" disabled type="text" class="form-control"
                            id="buildingNumber" />

                    </div>
                    <div class="col-md-4">
                        <label for="subNumber" class="form-label">{{ 'projectManagement.subNumber' | translate
                            }}</label>


                        <input [value]="this.projectDetails?.subNumber" disabled type="text" class="form-control"
                            id="subNumber" />

                    </div>
                    <div class="col-md-4">
                        <label for="postalCode" class="form-label">{{ 'projectManagement.postalCode' | translate
                            }}</label>


                        <input [value]="this.projectDetails?.zipCode" disabled type="text" class="form-control"
                            id="postalCode" />

                    </div>
                </div>
            </div>
        </div>


        <div class="container my-15">
            <h3 class="mb-4"># {{ 'projectManagement.financialHeader' | translate }}</h3>
            <hr>
            <!-- Price Measurement Unit and Unit Count -->
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="priceUnit" class="form-label">{{ 'projectManagement.priceUnit' | translate
                        }}</label>
                    <select disabled class="form-select" id="priceUnit">
                        <option> {{this.projectDetails?.unitMeasure}}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="unitCount" class="form-label">{{ 'projectManagement.unitCount' | translate
                        }}</label>
                    <input [value]="this.projectDetails?.numberUnits" disabled type="text" class="form-control"
                        id="unitCount" />
                </div>
                <!-- Unit Price and Tax Amount -->

                <div class="col-md-4">
                    <label for="unitPrice" class="form-label">{{ 'projectManagement.unitPrice' | translate
                        }}</label>
                    <span class="text-danger mx-2 fs-2">*</span>
                    <input [value]="this.projectDetails?.unitPrice" disabled type="text" class="form-control"
                        id="unitPrice" />

                </div>
            </div>


            <!-- Tax Rate and Total Amount with Tax -->
            <div class="row mb-3 gy-5">
                <div class="col-md-4">
                    <label for="taxAmount" class="form-label">{{ 'projectManagement.taxAmount' | translate
                        }}</label>
                    <input [value]="this.projectDetails?.taxAmount" disabled type="text" class="form-control"
                        id="taxAmount" value="1000" readonly />
                </div>
                <div class="col-md-4">
                    <label for="taxRate" class="form-label">{{ 'projectManagement.taxRate' | translate }}</label>
                    <input value="15%" disabled type="text" class="form-control" id="taxRate" value="15%" readonly />
                </div>

                <div class="col-md-4">
                    <label class="form-label">{{ 'projectManagement.totalAmountWithTax' |
                        translate
                        }}</label>
                    <input [value]="this.projectDetails?.totalTax" disabled type="text" class="form-control"
                        id="totalAmountWithTax" value="1150" readonly />
                </div>
                <div class="col-md-4">
                    <label for="vatAmount" class="form-label">{{ 'projectManagement.vatAmount' | translate
                        }}</label>
                    <input [value]="this.projectDetails?.vat" type="text" class="form-control" id="vatAmount"
                        value="150" disabled />
                </div>
            </div>
            <!-- </form> -->
        </div>
        <hr>

        <div class="container my-15">
            <h3 class="mb-4">{{ 'projectManagement.addressHeader' | translate }}</h3>

            <!-- <form> -->
            <!-- City, District, Street -->
            <div class="row mb-3">
                <div class="col-md-4 mb-4">
                    <label>{{ "register.region" | translate }}</label>
                    <select disabled class="form-select">
                        <option>{{this.projectDetails?.regionClientName}}</option>
                    </select>
                </div>
                <div class="col-md-4 mb-4">
                    <label>{{ "register.city" | translate }}</label>
                    <span class="text-danger mx-2 fs-2">*</span>
                    <select disabled class="form-select" aria-label="Default select example">
                        <option>{{this.projectDetails?.cityAgentName}}</option>
                    </select>

                </div>

                <div class="col-md-4 mb-4">
                    <label for="district" class="form-label">{{ 'projectManagement.district' | translate }}</label>

                    <input [value]="this.projectDetails?.agentDistrict" disabled type="text" class="form-control"
                        id="district" />

                </div>
            </div>

            <!-- Postal Code, Building Number, Sub Number -->
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="street" class="form-label">{{ 'projectManagement.street' | translate }}</label>

                    <input [value]="this.projectDetails?.agentStreet" disabled type="text" class="form-control"
                        id="street" />

                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="postalCode" class="form-label">{{ 'projectManagement.postalCode' | translate
                                }}</label>

                            <input [value]="this.projectDetails?.agentZipCoder" disabled type="text"
                                class="form-control" id="postalCode" />

                        </div>
                        <div class="col-md-4">
                            <label for="buildingNumber" class="form-label">{{ 'projectManagement.buildingNumber' |
                                translate
                                }}</label>

                            <input [value]="this.projectDetails?.agentBuildingNumber" disabled type="text"
                                class="form-control" id="buildingNumber" />

                        </div>
                        <div class="col-md-4">
                            <label for="subNumber" class="form-label">{{ 'projectManagement.subNumber' | translate
                                }}</label>

                            <input [value]="this.projectDetails?.agentSubNumber" disabled type="text"
                                class="form-control" id="subNumber" />

                        </div>
                    </div>
                </div>
            </div>

            <!-- Phone Number -->
            <div class="row mb-3">
                <div class="col-md-4 mb-4 ">
                    <label for="">{{ "register.phoneNumber" | translate }}</label>
                    <div class="input-group" style="direction: ltr;">
                        <span class="input-group-text" id="basic-addon1">+966</span>
                        <input [value]="this.projectDetails?.mobileNumber" disabled
                            class="form-control bg-transparent design" type="text" name="phone" />
                    </div>

                </div>

                <div class="col-md-4 mb-4 ">
                    <label for="">{{ "projectManagement.phoneNumber2" | translate }}</label>

                    <div class="input-group" style="direction: ltr;">
                        <input [value]="this.projectDetails?.mobileNumber" disabled
                            class="form-control bg-transparent design" type="text" name="phone" />
                    </div>


                </div>
            </div>

            <!-- Logo and Stamp Upload -->
            <h5 class="mt-4">{{ 'projectManagement.logoUpload' | translate }}</h5>
            <div class="row mb-3 align-items-center">
                <!-- Change Logo Button -->
                <div class="col-md-4 d-flex align-items-end">
                    <div class="mx-5 border   " style="width: 200px; height: 70px;">
                        <img [src]="logo?logo:'./assets/imgs/qyd/logo-blue.svg'" alt="Logo Icon"
                            class="me-2 w-100 h-100" />
                    </div>

                </div>

                <!-- Upload Stamp Button -->
                <div class="col-md-4 d-flex align-items-end">
                    <div class="mx-5 border   " style="width: 200px; height: 70px;">
                        <img [src]="logoStamp?logoStamp:'./assets/imgs/qyd/logo-blue.svg'" alt="Logo Icon"
                            class="me-2 w-100 h-100" />
                    </div>

                </div>


            </div>

        </div>

    </div>
    <!-- Navigation Buttons -->
    <div class="container d-flex justify-content-between mt-20">
        <button class="back-btn" (click)="triggerPrevStep()">
            {{ 'projectManagement.back' | translate }}
        </button>
        <div class="d-flex gap-5">
            <!-- <button (click)="submitLater()" class="save-btn">
                {{ 'projectManagement.saveLater' | translate }}
                <i class="fa fa-clock"></i>
            </button> -->
            <button (click)="nextToPdf()" class="next-btn">
                {{ 'projectManagement.next' | translate }}
                <i class="fa fa-arrow-left text-white"></i>
            </button>
        </div>
    </div>


</div>