<div *ngIf="!isAuth">
  <img
    style="
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 250px;
    "
    src="assets/imgs/qyd/no-results.svg"
  />

  <h1 style="text-align: center; padding-top: 15px">
    {{ "contract.NotAuth" | translate }}
  </h1>
</div>
<div class="body-size position-relative" *ngIf="isAuth">
    <div *ngFor="let history of historyData;let i = index" class="log">
        <div class="bar">
        <div class="date" [ngClass]="i === 0 ?'text-yellow' : 'text-grey'">
            <span class="step step-log" [ngClass]="i === 0 ?'bg-yellow' : 'bg-grey'"></span>
            <!-- <span class="mx-2">{{history.date | date:'dd-MM-yyyy'}}</span>
            <span>{{history.date | date:'hh:mm'}}</span> -->
            <span class="mx-2">{{history.date | dateDifferenceIssue | date:'hh:mm dd-MM-yyyy'}}</span>
        </div>

             <div class="name  d-flex align-items-center ">
           <span class="text-table fw-bold ms-3">{{history.name}}</span>


         <span *ngIf="
         history?.lawsuitStatus === issueStatusEnum.Inprogress
       " class="badge new-badge-light-green  fs-7 fw-bold">
       {{ "addIssue.Inprogress" | translate }}
     </span>
               <span *ngIf="
               history?.lawsuitStatus === issueStatusEnum.Finished
             " class="badge new-badge-light-red fs-7 fw-bold">
             {{ "addIssue.Finished" | translate }}
           </span>
           <span *ngIf="
           history?.lawsuitStatus === issueStatusEnum.Pending
           " class="badge new-badge-light-yellow fs-7 fw-bold">
           {{ "addIssue.Pending" | translate }}
           </span>
           <span *ngIf="
           history?.lawsuitStatus === issueStatusEnum.Approval
           " class="badge new-badge-light-purple fs-7 fw-bold">
           {{ "addIssue.Approval" | translate }}
           </span>
           <span *ngIf="
           history?.lawsuitStatus === issueStatusEnum.Canceled
           " class="badge new-badge-light-pink fs-7 fw-bold">
           {{ "addIssue.Canceled" | translate }}
           </span>
           <span *ngIf="
           history?.lawsuitStatus === issueStatusEnum.UnderReview
           " class="badge new-badge-light-blue fs-7 fw-bold">
           {{ "addIssue.UnderReview" | translate }}
           </span>


            </div>
            <div class="reason fs-3">{{history.reason}}</div>
            <a class="link fs-3" [routerLink]="['/agent/departments/cases/view-issue/history-details',history.id]">{{"issue.details" | translate}}</a>

        </div>
    </div>
    <div *ngIf="historyData && historyData.length === 0">
        <img style="
              text-align: center;
              display: block;
              margin-left: auto;
              margin-right: auto;
              max-width: 250px;
            " src="assets/imgs/qyd/no-results.svg" />

        <h1 style="text-align: center; padding-top: 15px">
          {{ "contract.NotFound" | translate }}
        </h1>
      </div>

</div>
<ngb-pagination [collectionSize]="totalCount" [(page)]="page" [pageSize]="pageSize" *ngIf="totalCount > 20"
    (pageChange)="getAllHistory()" class="pagination p-0 my-4 d-flex justify-content-center">
</ngb-pagination>
