button {
    border-radius: 2px;
    background: #F4F5F8;
    border: none;
    padding: 8px;
    color: #71717A;
}

.addBillBtn {
    border-radius: 6px;
    border: 1px solid #64748B;
    background: #048081;
    color: #fff;

}

.price-quote {
    color: #64748B;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}



.addBtn {
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 8px;
    background: #18181B;
}