<section class="login-page ">
  <div class="page-content">
    <div class="container vh-100">
      <div class="row align-items-center d-flex vh-100 justify-content-center ">
        <div class="col-lg-12 col-md-12">
          <div class="login-content">
            <!-- <div class="form-img">
              <img src="/assets/imgs/qyd/login-logo.svg" alt="" srcset="" role="button" (click)="goTohome()" />
            </div> -->
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>