.table {
    font-size: 14px;
}

th {
    font-weight: bold;
    background-color: #fff !important;
    border-bottom: 1px solid #ccc;
}



.d-flex>.form-control {
    font-size: 14px;
    height: 35px;
}