<nav class="navbar navbar-expand-lg " [ngClass]="headerWhite ? 'header-white' :''">
  <div class="container mt-2 d-flex justify-content-between">
    <a class="navbar-brand " routerLink="/" [ngClass]="lang === 'ar' ? 'me-0' : 'ms-0' ">
      <img src="./assets/imgs/qyd/logoWhtite.svg" aria-label="qyd logo" width="52" height="32" alt="" srcset="" />
    </a>
    <div [ngClass]="lang === 'ar'? 'me-auto' :'ms-auto' ">
      <a class="mx-3 media-show" role="button" (click)="selectLanguage(lang)"> {{lang === 'ar'
        ? 'EN' :'AR' }} <i class="fa-solid fa-globe text-white"></i></a>

      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0 " [ngClass]="lang === 'ar'? 'ms-auto' :'me-auto' ">
        <li class="nav-item">
          <a class="nav-link" href="https://test.qyd.sa/">{{"menu.home" |
            translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/visitor/about-us']" routerLinkActive="active">{{"menu.about" |
            translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/visitor/services']" routerLinkActive="active">{{"menu.services" |
            translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/visitor/packages']" routerLinkActive="active">{{"menu.packageM"
            |translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/visitor/contact-us']" routerLinkActive="active">{{"menu.contact" |
            translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/user-managment"
            *ngIf="role === allRoles.qydSuperAdmin && currentUser">{{"menu.dashboard" | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/departments/employee-managment"
            *ngIf="role === allRoles.qYDManager && currentUser">{{"menu.dashboard" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agent/departments/cases"
            *ngIf="role === allRoles.employee && currentUser">{{"menu.dashboard" | translate}}</a>
        </li>

      </ul>
      <div [ngClass]="lang === 'ar'? 'me-auto' :'ms-auto'" class="d-flex align-items-center justify-content-evenly">

        <a class=" media-hide lang" role="button" (click)="selectLanguage(lang)">
          {{lang === 'ar' ? 'EN' :'AR' }} <i class="fa-solid fa-globe text-white"></i>
        </a>
        <div class="pipe bg-white mx-5" style="width: 1px; height: 19px;"></div>
        <button routerLink="/auth/login"
          class="btn bg-white mx-auto   mx-2 get-qyd text-dark py-3 px-4">{{"menu.login"|translate}}</button>
      </div>
    </div>


  </div>
</nav>