h3 {
    color:#272727;
    font-weight: 600;
    font-size:21px
}
.label {
    font-size: 16px;
    color:#A6A6A6;
    font-weight: 500;
}
.main {
    background-color: #fff;
    padding:20px 20px;
    margin-bottom:5rem;
    label {
        font-size: 16px;
        color:#4C4C4C;
        font-weight: 400;

    }
    .form-check { 
        width:15% !important
    }
    
}