.button-end{
    margin-top: 10%;
    border-top: 4px solid rgba(241, 241, 241, 1);
    padding-top: 5%;
    text-align: end;
    button{
    margin: 5px;}

   
  .end {
    margin-left: auto !important;
  }

  .end-arabic {
  margin-right: auto !important;
  }

}