<h5>{{"forgetPassword.password" |translate}}</h5>
<form class="form w-100" [formGroup]="newPasswordForm" novalidate="novalidate" id="kt_login_signin_form3"
    (ngSubmit)="submit()">
    <!--begin::Action-->

    <!-- begin::Alert error-->
    <ng-container *ngIf="hasError">
        <div class="mb-lg-15 alert alert-danger">
            <div class="alert-text font-weight-bold">
                {{'forgetPassword.ThePasswordIsRepeated' | translate }}
            </div>
        </div>
    </ng-container>
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="input-group d-block mb-5">
                <label for="">{{ 'forgetPassword.oldPassword' | translate}}</label>
                <span class="text-danger mx-2 fs-2">*</span>
                <div class="pass-sec">
                    <input class="form-control bg-transparent" [placeholder]="'forgetPassword.oldPassword' | translate"
                        [type]="showPassword1 ? 'text' : 'password'" name="password" autocomplete="off"
                        formControlName="currentPassword" [ngClass]="{
                        'is-invalid': newPasswordForm.controls['currentPassword'].invalid && newPasswordForm.controls['currentPassword'].touched,
                        'is-valid': newPasswordForm.controls['currentPassword'].valid
                    }" />
                    <span class="input-group-text" id="basic-addon1">
                        <i class="toggle-password fa fa-fw fa-eye-slash"
                            [ngClass]="showPassword1 ? ' fa-eye' : ' fa-eye-slash'"
                            (click)="togglePasswordOldVisibilty()" class="toggle-password fa fa-fw"></i>
                    </span>
                </div>
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Validation.PasswordIsRequired' | translate,
                control: newPasswordForm.controls['currentPassword']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: 'forgetPassword.passwordRole' | translate,
                control: newPasswordForm.controls['currentPassword']
            }"></ng-container>
        </div>
        <div class="col-md-4 mb-4">
            <div class="input-group d-block mb-5">
                <label for="">{{ 'forgetPassword.NewPassword' | translate}}</label>
                <span class="text-danger mx-2 fs-2">*</span>

                <div class="pass-sec">
                    <input class="form-control bg-transparent" [placeholder]="'forgetPassword.NewPassword' | translate"
                        [type]="showPassword ? 'text' : 'password'" name="password" autocomplete="off"
                        formControlName="password" [ngClass]="{
                        'is-invalid': newPasswordForm.controls['password'].invalid && newPasswordForm.controls['password'].touched,
                        'is-valid': newPasswordForm.controls['password'].valid
                    }" />
                    <span class="input-group-text" id="basic-addon1">
                        <i class="toggle-password fa fa-fw fa-eye-slash"
                            [ngClass]="showPassword ? ' fa-eye' : ' fa-eye-slash'" (click)="togglePasswordVisibilty()"
                            class="toggle-password fa fa-fw"></i>
                    </span>
                </div>
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Validation.PasswordIsRequired' | translate,
                control: newPasswordForm.controls['password']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: 'Validation.PasswordPattern' | translate,
                control: newPasswordForm.controls['password']
            }"></ng-container>
        </div>
        <div class="col-md-4 mb-4">
            <label for="">{{"forgetPassword.ConfirmPassword" | translate}}</label>
            <span class="text-danger mx-2 fs-2">*</span>

            <div class="input-group mb-5 pass-sec">
                <input class="form-control bg-transparent" [type]="showPasswordConfirm ? 'text' : 'password'"
                    formControlName="passwordConfirm" [placeholder]="'forgetPassword.ConfirmPassword' | translate"
                    autocomplete="off" name="ConfirmPassword" [ngClass]="{
                        'is-invalid': newPasswordForm.controls['passwordConfirm'].invalid && newPasswordForm.controls['passwordConfirm'].touched,
                        'is-valid': newPasswordForm.controls['passwordConfirm'].valid
                    }" />
                <span class="input-group-text" id="basic-addon6">
                    <i class="toggle-password fa fa-fw fa-eye-slash" [ngClass]="
                        showPasswordConfirm ? ' fa-eye' : ' fa-eye-slash'
                    " (click)="togglePasswordConfirmVisibilty()" class="toggle-password fa fa-fw"></i>
                </span>
            </div>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'Validation.PasswordIsRequired' | translate,
                control: newPasswordForm.controls['passwordConfirm']
            }"></ng-container>
            <!-- <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: 'Validation.PasswordMaxLength' | translate,
                control: newPasswordForm.controls['passwordConfirm']
            }"
            ></ng-container> -->
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'pattern',
                message: 'Validation.PasswordPattern' | translate,
                control: newPasswordForm.controls['passwordConfirm']
            }"></ng-container>
            <ng-container *ngIf="
                newPasswordForm.controls['passwordConfirm'].errors &&
                newPasswordForm.controls['passwordConfirm'].errors
                .ConfirmPassword
            ">
                <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                        {{ "Validation.PasswordMatch" | translate }}
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
    <div class="d-flex justify-content-end">
        <div class="form-action-btn">
            <button type="submit" id="kt_sign_in_submit3" class="general-outline-button" (click)="submit()">
                <ng-container>
                    <span class="indicator-label">{{ "register.save" | translate }}
                    </span>
                </ng-container>
            </button>
        </div>
    </div>
</form>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                <span role="alert">
                    {{ message }}
                </span>
            </div>
        </div>
    </ng-container>
</ng-template>