<section class="user-management">
    <!-- begin::Header -->
    <div class="page-title">
      <div class="d-flex justify-content-between align-items-center">
        <h3 >
          {{ "addIssue.Add" | translate }} 
  
          {{ "AddEditcontract.contractTeam" | translate }}
        </h3>
  
      </div>
      <app-breadcrumb></app-breadcrumb>
  
    </div>
    <div class="body-size  content">
      <h3>{{"issue.issueTeam" | translate}}</h3>
      <form
        class="form w-100 my-5 row"
        [formGroup]="infoForm"
        novalidate="novalidate"
        id="kt_login_signin_form"
      >
  
        <div class="col-md-5 mb-4">
          <label> {{ "addIssue.assignedName" | translate }} </label>
          <span class="text-danger mx-2 fs-2">*</span>
          <select
            class="form-select"
            formControlName="employee"
            aria-label="Default select example"
          >
            <option disabled value="null">
              {{ "addIssue.select" | translate }}
            </option>
            <option *ngFor="let item of employees" [ngValue]="item">
              {{ item?.name }}
            </option>
          </select>
  
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'loginPage.thisFieldIsRequired' | translate,
              control: infoForm.controls['employee']
            }"
          ></ng-container>
        </div>
        <div class="col-md-4 mb-4 mt-9">
          <button
            type="submit"
            (click)="addEmployee()"
            id="kt_sign_in_submit"
            class="genral-button add"
          >
            <ng-container class="d-flex">
              <img src="assets/imgs/qyd/Right-icon.svg" />
              <span class="indicator-label">
                {{ "addIssue.Add" | translate }}
              </span>
            </ng-container>
          </button>
         
        </div>
        <div class="col-md-12 table-grid table-striped table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">{{ "addIssue.assignedName" | translate }}</th>
                <th scope="col"></th>
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let item of newAssigned">
                <td>{{ item.name }}</td>
                <td class="deleteCol" (click)="deleteRow(item)" role="button">
                  <img src="assets/imgs/qyd/delete-icon.svg" />
                  {{ "addIssue.delete" | translate }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      <form
        class="form w-100 my-15 row"
        [formGroup]="infoFormNotify"
        novalidate="novalidate"
        id="kt_login_signin_form"
      >
        <div class="col-md-5 mb-4">
          <label> {{ "AddEditcontract.notifyAssigned" | translate }} </label>
          <span class="text-danger mx-2 fs-2">*</span>
           <div class="d-flex justify-content-center align-items-center">
            <input
            class="form-control bg-transparent"
            type="text"
            [placeholder]="'AddEditcontract.Days' | translate"
            name="address"
            formControlName="number"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                infoFormNotify.controls['number'].invalid &&
                infoFormNotify.controls['number'].touched,
              'is-valid': infoFormNotify.controls['number'].valid
            }"
          />
          <span class="mx-2">{{"contract.day" | translate}}</span>
          </div>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'loginPage.thisFieldIsRequired' | translate,
              control: infoFormNotify.controls['number']
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'pattern',
              message: 'addIssue.onlyNumber' | translate,
              control: infoFormNotify.controls['number']
            }"
          ></ng-container>
        </div>
      </form>
      <div
        *ngIf="fieldRequired"
        _ngcontent-ebq-c229=""
        class="fv-plugins-message-container ng-star-inserted m-t-15"
      >
        <div _ngcontent-ebq-c229="" class="fv-help-block">
          <span _ngcontent-ebq-c229="" role="alert">
            {{ "addIssue.atLeastOne" | translate }}
          </span>
        </div>
      </div>
      <!--end::Form-->
      <div class="row button-end">
        <div class="form-action-btn d-flex justify-content-between align-items-center">
            <button (click)="Back()" id="kt_sign_in_submit" class="general-outline-button">
                <ng-container>
                <span class="indicator-label">
                    {{ "addIssue.Back" | translate }}
                </span>
                </ng-container>
            </button>
  
            <button type="submit"   [disabled]="loadingSave" (click)="loadingSave=true;submit()" id="kt_sign_in_submit"
                [ngClass]="{ end: lang === 'en', 'end-arabic': lang === 'ar' }" class="genral-button mt-2">
                <ng-container class="d-flex">
                <span class="indicator-label">
                    {{ "addIssue.Save" | translate }}
                </span>
                <img src="assets/imgs/qyd/Left-icon.svg"  />
                </ng-container>
            </button>
        </div>
      </div>
    </div>
    <ng-template
      #formError
      let-control="control"
      let-message="message"
      let-validation="validation"
    >
      <ng-container
        *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
      >
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            <span role="alert">
              {{ message }}
            </span>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </section>
  