<section class="main">
  <h3>{{"workDuty.workDutyManagement" | translate}}</h3>
  <app-breadcrumb></app-breadcrumb>
  <!-- Search -->
  <div class="search">
    <h3>{{"workDuty.search" | translate}}</h3>
    <div class="row">
      <div class="col-lg col-md-4 mb-5" *ngIf="isAgent">
        <label>{{"branches.name" | translate}}</label>

        <div class="input-img">

          <select class="form-select" [(ngModel)]="BranchId" aria-label="Default select example"
            (change)="page = 1; fromSearchInput = true; getAllUsersData()">
            <option selected disabled value="">
              {{ "branches.name" | translate }}
            </option>
            <option *ngFor="let branch of branches" [value]="branch.id">
              {{ branch.name}}
            </option>

          </select>
          <button *ngIf="BranchId !== ''" (click)="BranchId = ''; getAllUsersData()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      <div class="col-lg-3 mb-5">
        <label>{{'workDuty.workDutyName' | translate}}</label>
        <div class="input-img">
          <!-- <img src="/assets/imgs/search.svg" alt="" srcset="" /> -->
          <button *ngIf="searchText !== ''" (click)="searchText = ''; getAllUsersData()">
            <i class="fa-solid fa-xmark"></i>
          </button>
          <input style="width: 100%" class="form-control" type="text"
            (keyup)="page = 1;fromSearchInput = true; getAllUsersData()"
            [placeholder]="'workDuty.workDutyName' | translate" [(ngModel)]="searchText" />
        </div>
      </div>

      <div class="col-lg-3 mb-5">
        <label>{{'workDuty.workDutyStatus' | translate}}</label>
        <div class="input-img">
          <select class="form-select" [(ngModel)]="State" aria-label="Default select example"
            (change)="page = 1;fromSearchInput = true; getAllUsersData()">
            <option selected disabled value="">
              {{ "workDuty.workDutyStatus" | translate }}
            </option>
            <option [value]="workDutyStatus.All">
              {{ "workDuty.All" | translate }}
            </option>
            <option value="0">
              {{ "issue.isDraft" | translate }}
            </option>
            <option [value]="workDutyStatus.Active">
              {{ "workDuty.Active" | translate }}
            </option>
            <option [value]="workDutyStatus.Deferred">
              {{ "workDuty.Deferred" | translate }}
            </option>
            <option [value]="workDutyStatus.Finished">
              {{ "workDuty.Finished" | translate }}
            </option>
            <option [value]="workDutyStatus.Canceled">
              {{ "workDuty.Canceled" | translate }}
            </option>
            <option [value]="workDutyStatus.Pending">
              {{ "workDuty.Pending" | translate }}
            </option>
          </select>
          <button class="select" *ngIf="State !== ''" (click)="State = ''; getAllUsersData()">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>

      <div class="col-lg-3 mb-3">
        <label>{{'workDuty.startDate' | translate}}</label>

        <div class="iput-sec">
          <!-- <img class="mx-2" src="/assets/imgs/dat.svg" alt="" srcset="" /> -->
          <input onfocus="(this.type='date')" class="form-control date" ngbDatepicker #d="ngbDatepicker" aria-label=""
            [(ngModel)]="StartDate" (change)="page = 1; getAllUsersData()" data-toggle="tooltip" data-placement="bottom"
            title=" enter the start date " [placeholder]="'workDuty.startDate' | translate" />
        </div>
      </div>

      <div class="col-lg-3 mb-3">
        <label>{{'workDuty.endDate' | translate}}</label>

        <div class="iput-sec">
          <!-- <img class="mx-2" src="/assets/imgs/dat.svg" alt="" srcset="" /> -->
          <input onfocus="(this.type='date')" class="form-control date" ngbDatepicker #d="ngbDatepicker" aria-label=""
            [(ngModel)]="EndDate" (change)="page = 1;fromSearchInput = true;checkDate($event)" data-toggle="tooltip"
            data-placement="bottom" title=" enter the end date " [placeholder]="'workDuty.endDate' | translate" />
        </div>
      </div>
      <div *ngIf="errorDate" class="text-danger">{{"workDuty.endDateValidation" | translate}}</div>

    </div>
    <hr />
  </div>

  <div class="d-flex justify-content-between align-items-center title">
    <h3>{{"workDuty.workDutyTitle" | translate}}</h3>
    <div class="" *ngIf="!isEmployee">
      <button (click)="addNew()" class="general-outline-button d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-plus px-2"></i>
        {{ "workDuty.addNew" | translate }}
      </button>
    </div>
  </div>
  <!-- Table-->
  <div class="card members-page mt-4">
    <!-- begin::Body -->
    <div class="card-body py-3">
      <div *ngIf="allUsers.length === 0">
        <img style="
                  text-align: center;
                  display: block;
                  margin-left: auto;
                  margin-right: auto;
                  max-width: 250px;
                " src="assets/imgs/qyd/no-results.svg" />

        <h1 style="text-align: center; padding-top: 15px">
          {{ "workDuty.NotFound" | translate }}
        </h1>
      </div>
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <table class="table align-middle gs-0 gy-4" *ngIf="allUsers.length !== 0">
          <!-- begin::Table head -->
          <thead>
            <tr class="text-center bg-light">
              <!-- <th class="">#</th> -->
              <th class="min-w-125px">
                {{ "workDuty.workDutyName" | translate }}
              </th>
              <th class="min-w-125px">
                {{ "issue.assignedName" | translate }}
              </th>
              <th class="min-w-125px">
                {{ "workDuty.workDutyStatus" | translate }}
              </th>
              <th class="min-w-125px">
                {{ "workDuty.startDate" | translate }}
              </th>
              <th class="min-w-125px">
                {{ "workDuty.endDate" | translate }}
              </th>

              <th class="min-w-125px">
                {{ "workDuty.caseStatus" | translate }}
              </th>

              <th class="min-w-95px">
              </th>

            </tr>
          </thead>

          <tbody>
            <tr class="text-center" *ngFor="let player of allUsers">

              <td>{{ player.name }}</td>
              <td>{{ player.assignTeamName ?? player.employeeName }}</td>
              <td *ngIf="player?.isDraft">
                <span class="badge new-badge-light-light-grey fs-7 fw-bold"> {{"issue.isDraft" |translate}} </span>
              </td>
              <td *ngIf="!player?.isDraft">
                <span *ngIf="player?.dutyStatus === workDutyStatus.Active"
                  class="badge new-badge-light-green fs-7 fw-bold">
                  {{ "workDuty.Active" | translate }}
                </span>
                <span *ngIf="player?.dutyStatus === workDutyStatus.Deferred"
                  class="badge new-badge-light-light-yellow  fs-7 fw-bold">
                  {{ "workDuty.Deferred" | translate }}
                </span>
                <span *ngIf="player?.dutyStatus === workDutyStatus.Finished"
                  class="badge new-badge-light-red fs-7 fw-bold">
                  {{ "workDuty.Finished" | translate }}
                </span>
                <span *ngIf="player?.dutyStatus === workDutyStatus.Canceled"
                  class="badge new-badge-light-grey fs-7 fw-bold">
                  {{ "workDuty.Canceled" | translate }}
                </span>
                <span *ngIf="player?.dutyStatus === workDutyStatus.Pending"
                  class="badge new-badge-light-dark-yellow fs-7 fw-bold">
                  {{ "workDuty.Pending" | translate }}
                </span>
              </td>

              <td>{{ player.startDate ? (player.startDate | date: 'dd-MM-yyyy') : '_' }}</td>
              <td>{{ player.endDate ? (player.endDate | date: 'dd-MM-yyyy') : '_' }}</td>

              <td>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="form-check form-switch">
                    <label class="switch form-check-label" [for]="player.id">
                      <input (change)="changAccountState(player)" class="form-check-input" type="checkbox"
                        [checked]="player.dutyState === workDutyState.Active" [id]="player.id"
                        [disabled]="isEmployee" />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </td>
              <td class="overflow-hidden">
                <div ngbDropdown container="body">
                  <button type="button" class="btn btn-sm" ngbDropdownToggle>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </button>
                  <div ngbDropdownMenu>
                    <button ngbDropdownItem class="px-3" (click)="view(player.id)">
                      <i class="fa-regular fa-eye mx-1"></i>
                      {{"issue.Details" |translate}}
                    </button>
                    <button ngbDropdownItem class="px-3" (click)="edit(player.id)">
                      <i class="fa-regular fa-pen-to-square mx-1"></i>
                      {{"issue.edit" |translate}}
                    </button>

                  </div>
                </div>
              </td>

            </tr>
          </tbody>
        </table>

        <p class="mx-5">{{ "workDuty.total" | translate }}:{{ totalCount }}</p>
        <ngb-pagination [collectionSize]="totalCount" [(page)]="page" [pageSize]="pageSize"
          (pageChange)="getAllUsersData()" class="pagination p-0 my-4 d-flex justify-content-center">
        </ngb-pagination>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
      <!-- begin::Body -->
    </div>
  </div>
</section>